@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*
h1 - 로고(없을경우 업체명) 추가 시 적용
h2 - 대제목 .dashboard 추가 시 대시보드용 대제목
h3 - 소제목 및 팝업 명

h5 -
p - 일반 문구
*/

/* 공통 */
:root{
    --mainColor:#9579ad;
    --headColor:#292929;
    --subColor:#757575;
    --popColor:#424242;
    --borderColor:#dbdbdb;
    --offColor:#dbdbdb;
    --tableHeadColor:#886AA3;
    --whiteColor:#fff;
}
*{color:inherit;font-family:"Noto Sans KR", sans-serif;line-height:1.5;padding:0;margin:0;box-sizing:border-box;}
html, body{color:#424242;}
body{background:#fafcfe;}
body.b-white{background:var(--whiteColor);}
a{text-decoration:none;}
ul{list-style:none;}
h1{}
h2{color:var(--headColor);font-size:24px;font-weight:500;}
h2.dashboard{font-size:22px;font-weight:700;margin:20px 27px;}
h3{color:var(--headColor);font-size:18px;font-weight:700;}
h4{color:var(--headColor);font-size:16px;font-weight:400;}
h5{color:var(--headColor); font-size: 14px; font-weight: 500;}
label{color:#292929;font-size:16px;cursor:pointer;}
table{width:100%;border-top:1px solid #242122;border-collapse:collapse;border-spacing:0;}
tr{border-bottom:1px solid #eee;}
th,td{font-weight:400;text-align:center;padding:15px 10px;}
th{font-size: 14px; font-weight: 500; padding: 12px 10px; }
table tbody tr:hover td { background: #F5F5F5;}
.no-data{color:var(--subColor);font-size:18px;font-weight:500;text-align:center;padding:20px 0;}
.scroll-box{height:200px;overflow-y:auto;}
.scroll-box::-webkit-scrollbar {width:8px;background:var(--borderColor);border-radius:5px;}
.scroll-box::-webkit-scrollbar-thumb {height:10%;background:#999;border-radius:5px;}
.scroll-box::-webkit-scrollbar-thumb:hover{background:#555;}
.con-scroll-box { height: 900px; overflow-y: auto; box-shadow: 0px 4px 20px rgb(0 0 0 / 8%); margin-bottom: 40px;}
.con-scroll-box::-webkit-scrollbar { background: var(--whiteColor);}
.red { color: #da1a1a !important;}
.only-tablet {display: none!important;}

/* flex */
[class].j-start{justify-content:flex-start;}
[class].j-center{justify-content:center;}
[class].j-end{justify-content:flex-end;}
[class].j-between{justify-content:space-between;}
[class].a-start{align-items:flex-start;}
[class].a-center{align-items:center;}
[class].a-end{align-items:flex-end;}
[class].f-column{flex-direction:column;}
[class].f-column > *{margin-right:0;margin-bottom:24px;}
[class].f-column > *:last-child{margin-bottom:0;}
[class].flex { display: flex;}
[class].m-bottom { margin-bottom: 24px;}
[class].m-botton-none { margin-bottom: 0;}
/* 레이아웃 */
.wrap{max-width:1180px;margin:0 auto;}
.con-box{width:100%;background:var(--whiteColor);border-radius:18px;padding:33px; margin:0 auto 20px; overflow:hidden;box-shadow:rgba(0,0,0,0.15) 0 0 10px 2px; }

@media (max-width:1179px){
    .wrap {width:100%;padding:0 15px;}
}


/* 헤더 */
header{width:100%;height:68px;background:var(--whiteColor);border-bottom:1px solid var(--borderColor);position:sticky;top:0;left:0; z-index: 999;}
header .wrap{height:100%;}
header .menu{height:100%;display:flex;justify-content:center;align-items:center; transition: all 0.5s;}
header .menu > li{color:var(--subColor);}
header .menu > li+li{margin-left: 40px; }
header .menu > li.on{color:var(--headColor);}
header .member-box{display:flex;align-items:center;position:absolute;top:50%;right:30px;transform:translateY(-50%);}
header .member-box .btn{margin-left:24px;}

@media (max-width:1400px){
    header .menu{ display: none;}
    header .wrap { display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: center;}
    div.member-box {position: static; transform: none;}
    .only-tablet {display: block!  important;}
    
    /* 모바일, 태블릿: 햄버거 버튼 */
    a.hamburger-button {display: block!important; width: 28px;height: 24px;text-indent: -9999px; position: relative;}
    a.hamburger-button > span.bar {text-indent: -9999px; position: absolute; display: block; width: 100%; height: 2px; background-color: var(--mainColor); position: absolute;}
    a.hamburger-button::before {content: ''; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 100%; height: 2px; background-color: var(--mainColor); transition: all 0.3s;}
    a.hamburger-button > span.bar {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; height: 2px; background-color: var(--mainColor);  text-indent: -9999px; transition: all 0.3s;}
    a.hamburger-button::after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 100%; height: 2px; background-color: var(--mainColor);  transition: all 0.3s;}

    a.hamburger-button.close::before {transform: translate(-50%, -50%) rotate(32deg); top: 50%; width: 120%;}
    a.hamburger-button.close::after {transform: translate(-50%, 50%) rotate(-32deg);bottom: 50%; width: 120%;}
    a.hamburger-button.close > span {opacity: 0;}

    /* 사이드메뉴 */
    div.side-menu {width: 100%; overflow-y: scroll; border-radius: 0; left: 100%; transition: left 0.5s;}
    div.side-menu.on {left: 0;}
    span.bar::after {top: 36px;}
    div.side-menu > ul {margin-top: 0;}
    div.side-menu > ul > li { margin: 0; text-align: left; padding : 20px 0 20px 40px; min-height: 50px;}
    div.side-menu > ul > li > a {display: block ;}
    div.side-menu > ul > li > a > span {display: inline-block!important;  margin-left: 20px;  position: relative; top: 0;}
    div.side-menu > ul > li+li {border-top: 1px solid var(--borderColor);}
    div.side-menu .second-menu{ width: 204px; z-index: 19; position: static; width: 100%; }
    div.side-menu > ul > li:last-child {border-bottom: 1px solid var(--borderColor);}
    div.side-menu .sub-menu-bg {display: none;}
    div.side-menu .second-menu > li {padding: 14px 60px; color: #424242;}
    div.side-menu .second-menu > li:hover > a,
    div.side-menu .second-menu > li > a.on { color: #fff; }
}

/* 사이드메뉴 */
.side-menu { position: fixed; top: 67px; left: 0; width: 98px; height: calc(100% - 67px); background: var(--mainColor); border-radius: 0 30px 30px 0; z-index: 10000; }
.side-menu > ul { margin-top: 100px; }
.side-menu > ul > li { margin-bottom: 45px; text-align: center; }
.side-menu > ul > li:last-child { margin-bottom: 0;}
.sub-menu-bg{position: absolute; top: 50%; transform: translateY(-50%); left: -500px; background: var(--whiteColor); width: 204px; height: calc(100% - 50px); border-radius: 0 16px 16px 0; border: 1px solid var(--borderColor); }
.sub-menu-bg.on {left: 98px;}
.second-menu{position: absolute; top: 94px; left: -500px; width: 204px; z-index: 19; }
.second-menu.on { left: 98px;}
.second-menu > li { text-align: left; padding: 14px 0 14px 24px; color: #8f8f8f;}
.second-menu > li:hover > a,
.second-menu > li > a.on { color: #424242; }
.second-menu > li > a { width:100%; display: inline-block; padding-right: 20px; }
.second-menu > li > a > img { float: right; margin-top: 9px; transition: all .3s; transform: rotate(0);}
.second-menu > li > a.on > img { transform: rotate(180deg);}
.third-menu { margin-top: 18px;}
.third-menu > li { padding: 8px 0; border-radius: 18px 0 0 18px; font-size: 14px;}
.third-menu > li:hover {  background: rgba(233, 239, 255, 0.6); color:#424242 ; }
.third-menu > li > a { padding-left: 14px;} 

.main-menu > li > a { position: relative; }
.main-menu > li > a > img {vertical-align: top;}
.main-menu > li > a > .icon-focus {position: absolute; left: 0; top: 0; display: none;}
.main-menu > li:hover > a > .icon-focus {display: block; position: absolute; left: 0; top: 0;}




/* Footer */
footer { width: 100%; background: var(--whiteColor);border-top: 1px solid var(--borderColor); padding: 20px 0;}
.footer-top { display: flex; justify-content: space-between; align-items: center;}
.footer-top ul li { display: inline-block; margin-right: 90px; }
.footer-top select { width: 140px; height: 37px; border: 1px solid #757575; border-radius: 6px; padding:0 15px; margin-right: 18px; font-size: 16px; line-height: 37px;}
.footer-top .btn.line { border: 1px solid #757575; height: 37px; padding: 0 14px; line-height: 37px; }
footer p { margin-top: 4px;}
footer .wrap > div { margin-bottom: 28px; }

@media (max-width:983px){
    .footer-top { flex-direction: column; align-items: flex-start;}
    .footer-top ul { margin-bottom: 20px;}
    .footer-top ul li { margin-right: 20px;}
}

/* thead 색추가 버전 테이블 레이아웃 */
.table-wrap{border-radius:16px 16px 8px 8px; margin: 0 auto; }
.table-wrap.color-table table{border-top:0;border-collapse:separate;}
.table-wrap.color-table th{background:var(--tableHeadColor);color:var(--whiteColor);}
.table-wrap.color-table th:first-child{border-radius:16px 0 0 0;}
.table-wrap.color-table th:last-child{border-radius:0 16px 0 0;}
.table-wrap.color-table tr:last-child td:first-child{border-radius:0 0 0 8px;}
.table-wrap.color-table tr:last-child td:last-child{border-radius:0 0 8px 0;}
.table-wrap.color-table td{border-bottom:1px solid var(--borderColor); }
.table-wrap.color-table td:first-child{border-left:1px solid var(--borderColor);}
.table-wrap.color-table td:last-child{border-right:1px solid var(--borderColor);}

/* 폼 요소 */
*:disabled{background:#f5f5f5;}
.check-box{display:flex;align-items:center;}
.check-box > *{margin-right:16px;}
.check-box > *:last-child{margin-right:0;}
.check-box input{display:none;}
.check-box input + label{display:flex;align-items:center;}
.check-box input[type=checkbox] + label .icon{width:18px;height:18px;display:block;border:1px solid #d9d9d9;margin-right:7px;position:relative;}
.check-box input[type=checkbox] + label .icon:before{content:"";width:4px;height:8px;border-right:2px solid var(--whiteColor);border-bottom:2px solid var(--whiteColor);position:absolute;top:50%;left:50%;transform:translate(-50%, calc(-50% - 1px)) rotate(45deg);}
.check-box input[type=checkbox]:checked + label .icon{border-radius:4px;background:var(--mainColor);border-color:var(--mainColor);}
.check-box input[type=radio] + label .icon{width:16px;height:16px;display:block;border:1px solid #a5b3c2;border-radius:50%;margin-right:7px;}
.check-box input[type=radio]:checked + label .icon{border-width:4px;border-color:var(--mainColor);}
.input-image input { border: 1px solid red; border: 1px solid #dbdbdb;
border-radius: 4px; padding: 10px; max-width: 295px;}

.input-box > *{margin-bottom:24px;}
.input-box > *:last-child{margin-bottom:0;}
.input-box input[type=text], .input-box input[type=password]{width:100%;border:1px solid #dbdbdb;border-radius:4px;padding:10px;}
.input-box textarea{ width: 100%; border:1px solid #dbdbdb;border-radius:4px;padding:10px;resize:none;}
.input-box label{display:inline-block;margin-bottom:8px;}
.input-box input[type=date] { border: 1px solid var(--borderColor); cursor: pointer;}
.input-box input.info-input { border-radius: 8px; }
.btn-wrap{display:flex;align-items:center;}
.btn-wrap > *{margin-right:24px;}
.btn-wrap > *:last-child{margin-right:0;}
.btn{width:100%;background:var(--mainColor);display:block;color:var(--whiteColor);font-size:18px;font-weight:700;text-align:center;border:0;border-radius:4px;padding:10px;cursor:pointer;}
.btn.small{width:130px; font-size: 14px;}
.btn.line{width:auto;background:none;display:inline-block;color:inherit;font-size:16px;font-weight:500;border:1px solid #dbdbdb;padding:8px 26px;}
.btn.off{background:var(--offColor);}
.btn.shadow { width: auto; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08); border-radius: 8px; background: var(--whiteColor); padding: 8px; color: var(--subColor); font-weight: 500;
    font-size: 16px;}
.btn.xsmall { width: auto; padding: 5px 12px; font-size: 14px;}

/*엑셀 업로드.다운로드 버튼 */
.upload-filebox, .download-filebox { display: inline-block;}
.upload-filebox img, .download-filebox img { vertical-align: top;}
.upload-filebox label { color: #757575;font-weight: 500; font-size: 16px;}
.upload-filebox input[type="file"] {  /* 파일 필드 숨기기 */
position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden;clip:rect(0,0,0,0); border: 0; }

/* 팝업 */
.popup{visibility:hidden;opacity:0;width:100%;height:100%;background:rgba(0,0,0,0.6);color:var(--popColor);position:fixed;top:0;left:0;z-index:9999;transition:opacity 200ms;}
.popup.on{visibility:visible;opacity:1;}
.popup.no-dimm{max-height:80vh;width:400px;height:auto;background:none;}
.popup h3{font-size:16px;}
.popup .btn-wrap{margin-top:36px;}
.popup .btn{font-size:12px;}
.pop-box{max-height:80vh;width:400px;background:var(--whiteColor);border-radius:3px;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);box-shadow:rgba(0, 0, 0, 0.1) 0 2px 18px 0;}
.pop-title{height:30px;display:flex;justify-content:space-between;align-items:center;padding:15px 18px 0 18px;position:relative;}
.pop-close{width:20px;height:20px;background:var(--whiteColor);position:relative;}
.pop-close:before{content:"";width:1px;height:95%;background:#6b7682;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%) rotate(45deg);}
.pop-close:after{content:"";width:1px;height:95%;background:#6b7682;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%) rotate(-45deg);}
.pop-body{text-align:center;padding:30px 18px 16px;}

/* 탭 */
.tab-box > *{border-radius:0;margin:0;}
.tab-box > *:first-child{border-radius:4px 0 0 4px;}
.tab-box > *:last-child{border-radius:0 4px 4px 0;}
.tabs{padding:60px 0;}

/* 공지사항 태그 */
.notice-tag { color: var(--whiteColor); font-weight: 400; font-size: 13px; border-radius: 34px; border: 1px solid var(--whiteColor); background: #424242; padding: 4px 6px; margin-right: 15px;}
.notice-tag.middle { background:#DC5555 ;}
.notice-tag.seoul { background:#8D96E7 ;}
.notice-tag.gyeonggi { background: #68B8E5;}


/* =============== 페이지 스타일 시작 ============== */

/* 로그인 */
.login-box{width:620px;border:1px solid var(--borderColor);border-radius:8px;padding:60px 120px;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);}
.login-box h2{text-align:center;margin-bottom:70px;}
.login-box p{font-size:14px;border-bottom:1px solid var(--borderColor);padding-bottom:8px;}
.login-box .btn-wrap{margin-top:47px;}
.account-control{display:flex;margin-top:15px;}

@media (max-width:1080px){
    .login-box{width:95%;padding:20px;left:2.5%;transform:translateY(-50%);}
}

.wrap.find-account{width:380px;}
.wrap.find-account h2{text-align:center;margin:70px 0;}
.wrap.find-account .btn-wrap{margin-top:52px;}


/* 대시보드 */
.con-box h3 { padding-left: 10px; margin-bottom: 22px; }
.con-box .tel-col { font-size: 14px; }
.con-box .tel-col span:nth-child(3) { margin-right: 9px;}
.con-box .tel-col img { margin-right:4px ; vertical-align:middle;}
.con-box .tel-col a { font-size: 12px; text-decoration: underline;}
.tables-wrap { display: flex; justify-content: space-between; font-size: 13px; flex-wrap: wrap;}
.tables-wrap2 { margin-top: 60px; }
.tables-wrap .con-box { max-width: 580px; margin-left: 0; }
.tables-wrap .con-box:first-child { margin-right: 20px;}
.tables-wrap .con-box .table-wrap table tr td:nth-child(2) { text-align: start; font-size: 14px;}
.tables-wrap .con-box .table-wrap table tr td:first-child { color: #666; font-size: 14px;}
.tables-wrap .con-box .table-wrap table tr td:last-child { color: #999; font-size: 12px; }

.tables-wrap .table3 { border: none;}
.tables-wrap .table3 tr { border:none;}
.tables-wrap .table3 th, .tables-wrap .table4 th { font-size: 16px; color: var(--headColor);}
.tables-wrap .table3 td { font-size: 28px; font-weight: 700;color: var(--headColor); }
.tables-wrap .table4, .tables-wrap .table4 tr { border: none;}
.tables-wrap .table4 tbody tr { border-bottom: 1px solid #d9d9d9;}
.tables-wrap .table4 tbody tr:last-child { border-bottom: none;}
.tables-wrap .table4 td { font-size: 14px; }

.con-box2 { padding: 34px 18px;}
.tables-wrap3 { display: flex; }
.tables-wrap3 th { padding: 12px 9px; }
.tables-wrap3.color-table th:first-child { border-radius: 0;}
.tables-wrap3.color-table th:last-child { border-radius: 0;}
.tables-wrap3.color-table tr:last-child td:last-child { border-radius: 0;}
.tables-wrap3.color-table tr:last-child td:first-child { border-radius: 0;}
.tables-wrap3 table:nth-child(1) > thead > tr > th:nth-child(1) { border-top-left-radius: 16px; }
.tables-wrap3 table:nth-child(3) > thead > tr > th:nth-child(7) { border-top-right-radius: 16px;}
.tables-wrap3 table:nth-child(1) > tbody > tr:nth-child(6) > td:nth-child(1) { border-bottom-left-radius: 8px; }
.tables-wrap3 table:nth-child(3) > tbody > tr:nth-child(6) > td:nth-child(7) { border-bottom-right-radius: 8px;}
.tables-wrap3.color-table tr th:last-child { border-right: 1px solid var(--whiteColor);}

@media (max-width:1180px){
    .con-box.con-box2 { border-radius: 16px; }
    .tables-wrap3 { flex-direction: column;}
    .tables-wrap3 table:nth-child(2) thead, .tables-wrap3 table:nth-child(3) thead { display: none;}
    .tables-wrap3 table td { width: 14.29%;}
    .tables-wrap3 > table:nth-child(1) > thead > tr > th:nth-child(7) { border-top-right-radius: 16px;}
    .tables-wrap { display: block;}
    .tables-wrap .con-box { max-width: 100%; }
}

/* 돌보미 정보 */
.SA-08-xx .con-box { box-shadow: none; margin-bottom: 0;}
h3.info-title { margin:20px 27px;}
.info-input-box { display: flex; justify-content: flex-start; align-items: center; }
.info-input-box .input { display: flex; justify-content: flex-start; margin: 0 20px 10px 0;}
.info-input-box .input input, .info-input-box .input select, .info-input { width: 108px;}
.info-input-box .input select  { border: 1px solid #D9D9D9; border-radius: 8px; padding: 10px;}
.info-input-box .input label { margin: 0 16px 0 0; line-height: 42px; }
.info-input-box button.btn { width: 66px; padding: 8px; margin-bottom: 10px; }
.age-input { margin: 0 16px; line-height: 42px;}
.address-btn-box { display: flex; position: absolute; bottom: 13px; right: 10px;}
.address-btn-box .btn {display: inline-block;  background: var(--whiteColor); border: 1px solid var(--borderColor); border-radius: 3px; padding: 1px 6px; }
.address-btn-box button:first-child { margin-right: 8px; }
.address-btn-box img { width: 14px; height: 14px;} 

.info-details { display: flex;  margin-top: 25px; }
.info-detail-item h4 { margin-bottom: 18px;}
.info-detail-box { border: 1px solid var(--borderColor);padding: 13px 16px; height: 170px; border-right: 0; }
.info-detail-item:last-child .info-detail-box { border-right: 1px solid var(--borderColor);}
.check-box2, .check-box3, .check-box4 { flex-direction: column; flex-wrap: wrap; align-items: flex-start;}
.info-detail-item.adress { width: 110px; position: relative; }
.info-detail-item.place { width:200px ;}
.info-detail-item.target {  width: 305px;}
.info-detail-item.wage {  width: 150px;}
.info-detail-item.user-condition {  width: 150px;}
.info-detail-item.user-condition2 {  width: 250px;}

.info-detail-item.time { width: 395px; }
.check-box3 { height: 100%; }
.check-box4 .check { display: inline-block;}
.check-box4 .time-select .check:first-child { margin-right: 20px; }
.check-box4 > div { margin-bottom: 10px;}
.check-box4 .weekday-select .check { margin-right: 6px;}
.check-box4 .weekday-select .check:last-child { margin-right: 0;}
.check-box4 .total-time span { margin-right: 15px;}
.check-box4 .total-time span:nth-child(2n-1) { text-decoration: underline;}
.check-box4 .total-time span:last-child { color: #757575; font-size: 11px;}
.check-box4 .input input { display: inline-block; border: 1px solid #D9D9D9; border-radius: 8px; padding: 8px; margin-left: 15px; width: 180px;}
.btn.close-btn { background: #DBDBDB; }
.info-input-box3 { align-items: flex-start; flex-direction: column;}
.info-input-box3 .input:first-child { margin-bottom: 16px;}
.info-input-box3 .input label { width: 90px; text-align: left; }

.table-heading { display: flex; justify-content: space-between; margin-bottom: 15px;}
.table-heading button { display: inline-block;}
.table-heading button, .table-heading .upload-filebox { margin-right: 15px;}
.table-heading select.info-input { padding:9px; border: 1px solid #D9D9D9; border-radius: 8px;}
.table5, .table6, .multi-table {box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); margin-bottom: 20px;}
.table5 td { height: 300px; }
.pagpan { padding: 25px 0; text-align: center;}
.pagpan span { margin-right: 15px;}
.pagpan span.on { text-decoration: underline; font-weight: 700;}

.user-info-inner-wrap { display: flex;}
.passwordbox { position: relative;}
.passwordbox label::after { content:""; position: absolute; bottom: 13px; right: 13px; background: url(../img/password-delete.svg) no-repeat center; width: 15px; height: 15px; border-radius: 8px; }

@media (max-width:1180px){
    .order-change-wrap { display: flex; flex-direction: column; }
    .order-change-wrap .con-box:nth-child(1) { order: 2; }
    .order-change-wrap .con-box:nth-child(2) { order: 1;}
}
@media (max-width:1093px){
    .info-details { flex-direction: column;}
    .info-detail-item { margin-bottom: 25px;}
    .info-detail-item:last-child { margin-bottom: 0;}
    .info-detail-item.adress, .info-detail-item.place, .info-detail-item.target, .info-detail-item.time, .info-detail-item.wage, .info-detail-item.user-condition, .info-detail-item.user-condition2  { width: 100%; }
    .info-detail-item h4 { margin-left: 0;}
    .info-detail-box { border-right: 1px solid var(--borderColor);}
    .info-input-box { flex-wrap: wrap; }
    .info-detail-box { height: auto;}
    .check-box2, .check-box3 { flex-direction: initial;}
    .check-box2 .check { width: 145px;}
    .check-box3 .check { width: 90px; }
    .table-heading .upload-filebox, .table-heading button { margin-bottom: 10px;}
}

/* 이용자 정보 */
.tab-info { max-width: 300px; }
.con-box2 { border-radius: 0 16px 16px 16px;}
.info-input-box2 { margin-top: 20px; justify-content: flex-start;}
.info-input-box2 .input { margin-right: 20px;}

.info-input-box4 { display: flex; flex-wrap: wrap;}
.info-input-box4 .input { min-width: 400px}
.info-input-box4 .input:nth-child(2n-1)  {margin-right: 70px;}
.info-input-box4 .input label { min-width: 100px;}
.info-input-box4 .input input, .info-input-box4 .input textarea { max-width: 295px;}
.info-input-box4 .password-wrap .passwordbox:first-child { margin: 0 0 24px 0;}
.info-input-box4 .password-wrap { margin-right: 70px;}

.active-info-wrap, .account-info-wrap { margin-top: 45px;}

.textare-label { vertical-align: top; padding-top: 10px;}

@media (max-width:983px){
    .info-input-box4 .input { width: 100%;}
    .info-input-box4 .input:nth-child(2n-1) { margin-right: 0;}
    .info-input-box4 .input input, .info-input-box4 .input textarea, .info-input-box5 .input .upload-file-wrap { max-width: calc(100% - 120px);}
    .info-input-box4 .password-wrap { width: 100%; margin-right: 0;}
    .info-input-box4 .passwordbox label::after { right: 25px;}
    .account-info-wrap > div > div:nth-child(4) > select { width: calc(100% - 120px);}
}

.info-input-box4 .input select {width: 295px; padding: 8px; border: 1px solid var(--borderColor); border-radius: 4px;}
.button-wrap { display: flex; justify-content: end; max-width:900px ; margin-top: 30px;}
.button-wrap button:first-child { margin-right: 15px;}
.con-inner-btn.btn { width: 66px; font-size: 14px;}

.info-wrap { margin-top: 45px;}

/* SA-08-05, SA-08-06 서비스 모니터링 */
.service-info-wrap .input:last-child { width: 100%; }
.service-info-wrap .input.input-textarea, .info-wrap .input-box .input-full, .service-info-wrap .input-box .input-full { width: 100%; }
.service-info-wrap .info-input-box4 .input textarea, .rating-info-wrap .info-input-box4 .input:last-child input, .info-wrap .input-box .input-full input, .input-box .input-full .comment-add-box { max-width: 760px; }
.rating-info-wrap .info-input-box4 { flex-direction: column;}

@media (max-width:983px) {
.service-info-wrap .info-input-box4 .input textarea, .rating-info-wrap .info-input-box4 .input:last-child input, .info-wrap .input-box .input-full input, .input-box .input-full .comment-add-box { max-width: calc(100% - 120px); }
.input-box .comment-box { max-width: calc(100% - 140px);}
}

/* SA-08-07 지역현황 */
.con-box3 { height: 500px;}
.con-box3 p { text-align: center; line-height: 500px;}
.multi-table { border-radius: none;}
.table-wrap.multi-table th:first-child { border-radius: 0;}
.table-wrap.multi-table th:last-child { border-radius: 0;}
.table-wrap.multi-table th { border: 1px solid var(--borderColor);}
.table-wrap.multi-table > table > thead > tr:nth-child(1) > th:first-child { border-top-left-radius: 16px;}
.table-wrap.multi-table > table > thead > tr:nth-child(1) > th:last-child { border-top-right-radius: 16px;}
.tables-wrap .con-box4 .table-wrap table tr td:first-child, .tables-wrap .con-box4 .table-wrap table tr td:last-child { color: #424242;}
.tables-wrap .con-box4 .table-wrap table tr td:nth-child(2) { text-align: center;}


/* 돌보미 교육만족도 관리 */
.table-heading p { color: #8F8F8F; font-weight: 500; font-size: 16px; line-height: 40px;}
.table-wrap.color-table.table7 th { border-radius: 16px 16px 0 0;}
.table-wrap.color-table.table7 tbody tr:nth-child(1) td:nth-child(1), .table-wrap.color-table.table8 tbody tr td { border-right: 1px solid var(--borderColor);}

/* 돌봄 서비스 소개 관리 */
.con-box5 { height: 750px; margin-top: 78px; position: relative;}
.con-box5 .image-box { min-height:500px; min-width: 500px; border: 1px dashed #757575; border-radius: 16px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.con-box5 button {  position: absolute; right: 60px; bottom: 50px;}
.table-heading .address-btn-box { position: initial;}


/* SA-08-16 시스템 파라미터 관리 */
.mark-box { width: 48px; height: 48px; margin: 0 auto; background: #d9d9d9;}

/* SA-04-05 월간 서비스 계획*/
.date-box { background: var(--offColor); min-height: 323px; text-align: center;}
.date-box h1 { line-height: 323px;}

.info-input-box5 .input textarea, .info-input-box5 .input .upload-file-wrap, .info-input-box5 .input .upload-file-wrap input  { min-width: 325px; }
.info-input-box5 .input-textarea label { min-width: 80px;}
.info-input-box5 .input { display: flex; justify-content: flex-start; margin: 0 20px 10px 0;}
.info-input-box5 .input .upload-file-wrap input { margin-bottom: 10px;}
.info-input-box5 .input .upload-file-wrap .btn-box .upload-filebox { margin-right: 20px;}
.info-input-box5 .input .upload-file-wrap input.drag-drop-box { padding-left: 50px ; background: url(../img/drag-drop-icon.svg) no-repeat 10px center; }
.info-input-box5 .input .upload-file-wrap .upload-filebox label { color: var(--whiteColor); margin-bottom: 0;}

@media (max-width:983px){
    .info-input-box5 .input .upload-file-wrap { min-width: 100% ; }
}

/* SA-05-01 교육이수현황 조회 */
.pop-box2 { width: 600px; height: 80vh; } 
.pop-box2 .pop-body { padding: 30px 40px 16px;}
.pop-box2 .pop-body h2 { padding: 3% 0 3% 0;}
.pop-box2 .pop-body p { text-align: left; padding-bottom: 2%;}
.pop-box2 .pop-body p:nth-child(5) { padding-bottom: 5%;}
.pop-box2 .pop-body .certi-date {padding-top: 2%; }
.pop-box2 .pop-body .certi-mark { width: fit-content; align-items: center; margin: 0 auto; margin-top: 4%;}
.pop-box2 .pop-body .certi-mark h3 { margin-right: 15px;}
.pop-box2 .pop-body .certi-mark .mark-box { border: 1px solid #6b7682;}

/* 수료증 출력 */
@media print {
    header, .wrap, .pop-btn, .btn-wrap, .pop-title { display: none; }
    .popup { position: static; }
.pop-box2 .pop-body { padding: 60px 60px 16px;}
.pop-box2 .pop-body h2 { padding: 60px 0 60px 0;}
.pop-box2 .pop-body p { padding-bottom: 30px;}
.pop-box2 .pop-body p:nth-child(5) { padding-bottom: 70px;}
.pop-box2 .pop-body .certi-date {padding-top: 30px; }
.pop-box2 .pop-body .certi-mark { margin-top: 45px;}
}

/* input datepicker */
.ui-datepicker-trigger { position: relative;left: -23px;}

/* SA-06-02 급여 조회-상세 */
.con-box .info-title-box { display: flex; justify-content: space-between; margin-bottom: 30px;}
.con-box .info-title-box h3 { margin-bottom: 0;}

/* 공지사항 */
.info-input-box .input .info-input.info-input-title { width:347px ;}
.table-wrap.color-table td .notice-table-title { text-align: left;}
.table-wrap.color-table 
.pagpan { position: relative;}
.pagpan .right-side-btn { position: absolute; right: 15px; bottom: 20px;}
.pagpan .left-side-btn { position: absolute; left: 15px; bottom: 20px;}
.pagpan .left-side-btn button:first-child { margin-right: 12px;}
hr { max-width: 953px; background: #d9d9d9; }
.input-box .input-full input.title-input { border: none; font-size: 20px; max-width: 958px;}
.input-box .input .info-input2 { width: 185px;}
.input-box .input-noticetag { position: relative;}
.input-box .input-noticetag::after { content: ""; background: url(../img/calendar-icon.svg) no-repeat center; width: 18px; height: 20px; position: absolute; bottom: 12px; right: 10px; }
.input-box .input-btns button { width: 24px; height: 24px; padding: 0; margin-bottom: 0; margin-right: 5px;}
.input-box .input-btns button:last-child { margin-right: 0;}
.input-box .input-btns button img { width: 16px; height: 13px;}
.info-input2 select { background: red;}
.info-input-box .input .info-text{ width: 140px; background: url(../img/text-color-icon.svg) no-repeat 15px; padding-left: 35px;}

.upload-file-wrap > input { display: block;}
.wrap.SA-07-03 .input-box { margin-bottom: 20px;}
.wrap.SA-07-03 .info-input-box5 { margin-top: 40px;}

/* 커뮤니티 */
.comment-add-box { display: inline-flex; width: 100%;}
.comment-box { max-width: 740px; border: 1px solid #DBDBDB; border-radius: 6px; margin: 20px 0 0 125px; font-size: 14px;padding: 15px 30px; position: relative; }
.comment-box button { position: absolute; top: 15px; right: 15px; padding: 5px;}
.comment-box p:nth-child(3) { font-size: 12px; }
.service-info-wrap .input.input-textarea, .info-wrap .input-box .input-full, .service-info-wrap .input-box .input-full { margin-right: 0;}


/* 1:1 문의 */
@media (max-width:983px){
    .pagpan .left-side-btn { flex-direction: column; bottom: 5px; }
    .pagpan .left-side-btn button:first-child { margin-bottom: 3px;}
}


/* 내 정보 관리 */
.info-input-box6 .input:nth-child(5) { order: 6; margin-right: 0; }
.info-input-box6 .input:nth-child(6) { order: 5; margin-right: 70px;}

@media (max-width:983px){
.info-input-box6 .input:nth-child(4) { order: 5;}
.info-input-box6 .input:nth-child(6) { order: 4; margin-right: 0; margin-bottom: 24px;}   
}

/* 이용약관 */
.service-img { background: #FFF5F5 url(../img/service-img.png) no-repeat center; width: 100%; height: 540px; }
.program-img { background: #FFF url(../img/program-img.png) no-repeat center; width: 100%; height: 540px; }
.map-img { background: #FFF url(../img/map-img.png) no-repeat center; width: 100%; height: 540px; background-size: contain;}

.center-select-wrap { width: 100%; border-bottom: 1px solid var(--borderColor);}
.center-select-wrap { padding: 11px 0;}
.center-select-wrap select { padding: 8px 18px; border: 1px solid #757575; border-radius: 6px; color: #757575; font-size: 16px;}




