@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*
h1 - 로고(없을경우 업체명) 추가 시 적용
h2 - 대제목 .dashboard 추가 시 대시보드용 대제목
h3 - 소제목 및 팝업 명
p - 일반 문구
*/

/* 공통 */
:root{
    --mainColor:#9579ad;
    --headColor:#292929;
    --subColor:#757575;
    --popColor:#424242;
    --borderColor:#dbdbdb;
    --offColor:#dbdbdb;
    --tableHeadColor:#886AA3;
}
*{color:inherit;font-family:"Noto Sans KR", sans-serif;line-height:1.5;padding:0;margin:0;box-sizing:border-box;}
html, body{color:#424242;}
body{background:#fafcfe;}
body.b-white{background:#fff;}
a{text-decoration:none;}
ul{list-style:none;}
h1{}
h2{color:var(--headColor);font-size:24px;font-weight:500;}
h2.dashboard{font-size:22px;font-weight:700;margin:20px 27px;}
h3{color:var(--headColor);font-size:18px;font-weight:700;}
h4{color:var(--headColor);font-size:16px;font-weight:400;}
label{color:#292929;font-size:16px;cursor:pointer;}
table{width:100%;border-top:1px solid #242122;border-collapse:collapse;border-spacing:0;}
tr{border-bottom:1px solid #eee;}
th,td{font-weight:400;text-align:center;padding:15px 10px;}
th{font-size: 14px; font-weight: 500; padding: 12px 10px; }
.no-data{color:var(--subColor);font-size:18px;font-weight:500;text-align:center;padding:20px 0;}


/* flex */
[class].j-start{justify-content:flex-start;}
[class].j-center{justify-content:center;}
[class].j-end{justify-content:flex-end;}
[class].j-between{justify-content:space-between;}
[class].a-start{align-items:flex-start;}
[class].a-center{align-items:center;}
[class].a-end{align-items:flex-end;}
[class].f-column{flex-direction:column;}
[class].f-column > *{margin-right:0;margin-bottom:24px;}
[class].f-column > *:last-child{margin-bottom:0;}

/* 레이아웃 */
.wrap{max-width:1180px;margin:0 auto;}
.con-box{width:100%;background:#fff;border-radius:18px;padding:33px; margin:0 auto; margin-bottom:20px; overflow:hidden;box-shadow:rgba(0,0,0,0.15) 0 0 10px 2px; margin-bottom: 20px;}

@media (max-width:1179px){
    .wrap{width:100%;padding:0 15px;}
}

/* 헤더 */
header{width:100%;height:68px;background:#fff;border-bottom:1px solid var(--borderColor);position:sticky;top:0;left:0;}
header .wrap{height:100%;}
header .menu{height:100%;display:flex;justify-content:center;align-items:center;}
header .menu > li{color:var(--subColor);margin-right:40px;}
header .menu > li:last-child{margin-right:0;}
header .menu > li.on{color:var(--headColor);}
header .member-box{display:flex;align-items:center;position:absolute;top:50%;right:30px;transform:translateY(-50%);}
header .member-box .btn{margin-left:24px;}

@media (max-width:1400px){
    header .menu{justify-content:flex-start;}
}

@media (max-width:1080px){
    header{height:auto;}
    header .wrap{height:auto;}
    header .menu{}
    header .member-box{position:static;}
}

/* thead 색추가 버전 테이블 레이아웃 */
.table-wrap{border-radius:16px 16px 8px 8px; margin: 0 auto; }
.table-wrap.color-table table{border-top:0;border-collapse:separate;}
.table-wrap.color-table th{background:var(--tableHeadColor);color:#fff;}
.table-wrap.color-table th:first-child{border-radius:16px 0 0 0;}
.table-wrap.color-table th:last-child{border-radius:0 16px 0 0;}
.table-wrap.color-table tr:last-child td:first-child{border-radius:0 0 0 8px;}
.table-wrap.color-table tr:last-child td:last-child{border-radius:0 0 8px 0;}
.table-wrap.color-table td{border-bottom:1px solid var(--borderColor); }
.table-wrap.color-table td:first-child{border-left:1px solid var(--borderColor);}
.table-wrap.color-table td:last-child{border-right:1px solid var(--borderColor);}

/* 폼 요소 */
*:disabled{background:#f5f5f5;}
.check-box{display:flex;align-items:center;}
.check-box > *{margin-right:16px;}
.check-box > *:last-child{margin-right:0;}
.check-box input{display:none;}
.check-box input + label{display:flex;align-items:center;}
.check-box input[type=checkbox] + label .icon{width:18px;height:18px;display:block;border:1px solid #d9d9d9;margin-right:7px;position:relative;}
.check-box input[type=checkbox] + label .icon:before{content:"";width:4px;height:8px;border-right:2px solid #fff;border-bottom:2px solid #fff;position:absolute;top:50%;left:50%;transform:translate(-50%, calc(-50% - 1px)) rotate(45deg);}
.check-box input[type=checkbox]:checked + label .icon{border-radius:4px;background:var(--mainColor);border-color:var(--mainColor);}
.check-box input[type=radio] + label .icon{width:16px;height:16px;display:block;border:1px solid #a5b3c2;border-radius:50%;margin-right:7px;}
.check-box input[type=radio]:checked + label .icon{border-width:4px;border-color:var(--mainColor);}
.input-box > *{margin-bottom:24px;}
.input-box > *:last-child{margin-bottom:0;}
.input-box input[type=text], .input-box input[type=password]{width:100%;border:1px solid #dbdbdb;border-radius:4px;padding:10px;}
.input-box textarea{width:100%;border:1px solid #dbdbdb;border-radius:4px;padding:10px;resize:none;}
.input-box label{display:inline-block;margin-bottom:8px;}
.btn-wrap{display:flex;align-items:center;}
.btn-wrap > *{margin-right:24px;}
.btn-wrap > *:last-child{margin-right:0;}
.btn{width:100%;background:var(--mainColor);display:block;color:#fff;font-size:18px;font-weight:700;text-align:center;border:0;border-radius:4px;padding:10px;cursor:pointer;}
.btn.small{width:130px;}
.btn.line{width:auto;background:none;display:inline-block;color:inherit;font-size:16px;font-weight:500;border:1px solid #dbdbdb;padding:8px 26px;}
.btn.off{background:var(--offColor);}

/* 팝업 */
.popup{visibility:hidden;opacity:0;width:100%;height:100%;background:rgba(0,0,0,0.6);color:var(--popColor);position:fixed;top:0;left:0;z-index:100;transition:opacity 200ms;}
.popup.on{visibility:visible;opacity:1;}
.popup.no-dimm{max-height:80vh;width:400px;height:auto;background:none;}
.popup h3{font-size:16px;}
.popup .btn-wrap{margin-top:36px;}
.popup .btn{font-size:12px;}
.pop-box{max-height:80vh;width:400px;background:#fff;border-radius:3px;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);box-shadow:rgba(0, 0, 0, 0.1) 0 2px 18px 0;}
.pop-title{height:30px;display:flex;justify-content:space-between;align-items:center;padding:15px 18px 0 18px;position:relative;}
.pop-close{width:20px;height:20px;background:#fff;position:relative;}
.pop-close:before{content:"";width:1px;height:95%;background:#6b7682;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%) rotate(45deg);}
.pop-close:after{content:"";width:1px;height:95%;background:#6b7682;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%) rotate(-45deg);}
.pop-body{text-align:center;padding:30px 18px 16px;}

/* 탭 */
.tab-box > *{border-radius:0;margin:0;}
.tab-box > *:first-child{border-radius:4px 0 0 4px;}
.tab-box > *:last-child{border-radius:0 4px 4px 0;}
.tabs{padding:60px 0;}


/* 로그인 */
.login-box{width:620px;border:1px solid var(--borderColor);border-radius:8px;padding:60px 120px;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);}
.login-box h2{text-align:center;margin-bottom:70px;}
.login-box p{font-size:14px;border-bottom:1px solid var(--borderColor);padding-bottom:8px;}
.login-box .btn-wrap{margin-top:47px;}
.account-control{display:flex;margin-top:15px;}

@media (max-width:1080px){
    .login-box{width:95%;padding:20px;left:2.5%;transform:translateY(-50%);}
}

.wrap.find-account{width:380px;}
.wrap.find-account h2{text-align:center;margin:70px 0;}
.wrap.find-account .btn-wrap{margin-top:52px;}


/* 대시보드 */
.con-box h3 { padding-left: 10px; margin-bottom: 22px;}
.con-box .tel-col { font-size: 14px; }
.con-box .tel-col span:nth-child(3) { margin-right: 9px;}
.con-box .tel-col img { margin-right:3.5px ; vertical-align:middle;}
.con-box .tel-col a { font-size: 12px; text-decoration: underline;}
.tables-wrap { display: flex; justify-content: space-between; font-size: 13px; flex-wrap: wrap;}
.tables-wrap2 { margin-top: 60px; }
.tables-wrap .con-box { max-width: 580px; margin-left: 0; }
.tables-wrap .con-box:first-child { margin-right: 20px;}
.tables-wrap .con-box .table-wrap table tr td:nth-child(2) { text-align: start; font-size: 14px;}
.tables-wrap .con-box .table-wrap table tr td:first-child { color: #666; font-size: 14px;}
.tables-wrap .con-box .table-wrap table tr td:last-child { color: #999; font-size: 12px; }

.tables-wrap .table3 { border: none;}
.tables-wrap .table3 tr { border:none;}
.tables-wrap .table3 th, .tables-wrap .table4 th { font-size: 16px; color: var(--headColor);}
.tables-wrap .table3 td { font-size: 28px; font-weight: 700;color: var(--headColor); }
.tables-wrap .table3 td.red { color: #da1a1a;}
.tables-wrap .table4, .tables-wrap .table4 tr { border: none;}
.tables-wrap .table4 tbody tr { border-bottom: 1px solid #d9d9d9;}
.tables-wrap .table4 tbody tr:last-child { border-bottom: none;}
.tables-wrap .table4 td { font-size: 14px; }

.tables-wrap .table4 tbody tr td span.red { color: #da1a1a; }
