<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <a href="#" title="hamburger-button" class="hamburger-button only-tablet on"><span class="bar">메뉴 열고/닫기</span></a>
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">돌봄서비스 > 서비스관리 > 서비스 계획</h3>
    <div class="con-box">
      <div class="user-info-wrap">
        <h3>월간 배정 스케쥴</h3>
          <div class="date-box">
            <h1>달력영역</h1>
          </div>
      </div>
    </div>

    <div class="con-box">
      <div class="user-info-wrap">
        <h3>배정 정보</h3>
        <div class="input-box info-input-box">
          <div class="input">
            <label for="">연번</label>
            <input type="text" id="" class="info-input" value="-">
          </div>
          <div class="input">
            <label for="">이름</label>
            <input type="text" id="" class="info-input" value="김여섯">
          </div>
          <div class="input">
            <label for="">소속</label>
            <input type="text" id="" class="info-input" value="서울">
          </div>
          <div class="input">
            <label for="">이용자</label>
            <div class="select-box">
              <select name="" id="">
                <option value="">전체</option>
                <option value=""></option>
                <option value=""></option>
              </select>
              <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="con-box service-detail">
      <div class="user-info-wrap ">
        <h3>서비스 상세 정보</h3>
        <div class="input-box info-input-box">
          <div class="input">
            <label for="">활동 월</label>
            <div class="datepicker-box">
              <input type="text" id="date1" class="info-input datepicker">
              <label for="date1">
                <img src="./../img/datepicker-arrow.png" alt="달력 열기" />
              </label>
            </div>
          </div>
          <div class="input">
            <label for="">활동시간</label>
            <input type="text" id="" class="info-input" value="09시 ~ 17시">
          </div>
          <div class="input">
            <label for="">일간 활동 시간</label>
            <input type="text" id="" class="info-input" value="8시간">
          </div>
          <div class="input">
            <label for="">활동장소</label>
            <div class="select-box">
              <select name="" id="">
                <option value="">이용자 가족</option>
                <option value=""></option>
                <option value=""></option>
              </select>
              <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
            </div>
          </div>
        </div>
        <div class="input-box info-input-box">
          <div class="input">
            <label for="">서비스 내용</label>
            <div class="select-box">
              <select name="" id="">
                <option value="">일상생활</option>
                <option value=""></option>
                <option value=""></option>
              </select>
              <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
            </div>
          </div>
          <div class="input">
            <label for="">서비스 내용</label>
            <input type="text" id="" class="info-input" value="60분">
          </div>
          <div class="input">
            <label for="">서비스 상태</label>
            <div class="select-box">
              <select name="" id="">
                <option value="">계획</option>
                <option value=""></option>
                <option value=""></option>
              </select>
              <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
            </div>
          </div>
        </div>
        <div class="input-box etc">
          <label for="" class="textarea-label">비고</label>
          <textarea name="" id="" cols="30" rows="5"></textarea>
        </div>

        <div class="input-box etc">
          <label for="" class="textarea-label">첨부파일</label>
          <div class="upload-file-wrap">
            <input type="text" class="drag-drop-box" value="첨부하실 파일을 끌어서 넣어주십시오.">
            <div class="btn-wrap upload">
              <label for="upload-file" class="upload-box btn xsmasll">
                파일추가
              </label>
              <input type="file" id="upload-file">
              <button class="btn xsmall">삭제</button>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="flex j-end">
        <button class="btn small">저장</button>
      </div>
</div>

</body>
</html>
