<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <a href="#" title="hamburger-button" class="hamburger-button only-tablet on"><span class="bar">메뉴 열고/닫기</span></a>
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">관리자 페이지 > 사업 실적> 지역 현황</h3>
  <div class="con-box">
    <div class="search-box mb-20">
      <div class="input-box info-input-box">
        <div class="input">
          <label for="">시행기관</label>
          <div class="select-box">
            <select name="" id="">
              <option value="">전체</option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
          </div>
        </div>
        <div class="input service">
          <label for="">서비스 기간</label>
          <div class="datepicker-box">
            <input type="text" id="date1" class="info-input datepicker">
            <label for="date1">
              <img src="./../img/datepicker-arrow.png" alt="달력 열기" />
            </label>
          </div>
          <span class="age-input"> ~ </span>
          <div class="datepicker-box">
            <input type="text" id="date2" class="info-input datepicker">
            <label for="date2">
              <img src="./../img/datepicker-arrow.png" alt="달력 열기" />
            </label>
          </div>
        </div>
      </div>
      <div class="btn-wrap j-center">
        <button class="btn small">조회</button>
      </div>
    </div>
  </div>  

  <div class="table-heading">
    <div>
      <div class="download-filebox btn shadow">
        <a href="" download="">
          <img src="../img/Excel-logo.svg" alt="엑셀로고">
          <span>Excel 다운로드</span>
        </a>
      </div>
    </div>
  </div>
  
  <div class="con-box con-box3">
    <p>검색된 내용이 없습니다.</p>
  </div>

  <div class="table-wrap color-table multi-table">
    <table>
      <thead>
        <tr>
          <th rowspan="3">월별</th>
          <th colspan="6">돌봄서비스 선정 아동 수</th>
          <th colspan="6">돌봄서비스 대기이동수</th>
        </tr>
        <tr>
          <th rowspan="2">전월 ⓐ</th>
          <th rowspan="2">신규 ⓑ</th>
          <th rowspan="2">긴급 돌봄 ⓒ <br>(신규)</th>
          <th rowspan="2">포기 탈락 ⓓ <br>(이용 無)</th>
          <th rowspan="2">포기탈락 <br>(1시간 이상)</th>
          <th rowspan="2">실선정 <br>ⓐ+ⓑ+ⓒ+ⓓ</th>
          <th rowspan="2">전월 ⓔ</th>
          <th rowspan="2">신규 ⓕ</th>
          <th colspan="3">조정 아동수</th>
          <th rowspan="2">실대기 <br>ⓔ+ⓕ+ⓖ</th>
        </tr>
        <tr>
          <th>선정</th>
          <th>포기.탈락</th>
          <th>탈락 ⓖ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>2월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>3월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>4월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>5월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>6월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>7월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>8월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>9월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr>
          <td>10월</td>
          <td>0</td>
          <td>3,685</td>
          <td>0</td>
          <td>0</td>
          <td>47</td>
          <td>3,638</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
    <div class="pagpan">
      <a href="javascript:void(0);"><span><img src="../img/left-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/left-double-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span class="active">1</span></a>
      <a href="javascript:void(0);"><span>2</span></a>
      <a href="javascript:void(0);"><span>3</span></a>
      <a href="javascript:void(0);"><span>4</span></a>
      <a href="javascript:void(0);"><span>5</span></a>
      <a href="javascript:void(0);"><span>6</span></a>
      <a href="javascript:void(0);"><span>7</span></a>
      <a href="javascript:void(0);"><span>8</span></a>
      <a href="javascript:void(0);"><span>9</span></a>
      <a href="javascript:void(0);"><span>10</span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-arrow.jpg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-double-arrow.svg" alt=""></span></a>
    </div>
  </div>

  <div class="con-box">
    <h3>실 이용 아동 수</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="3">월별</th>
            <th rowspan="3">전월 ⓐ</th>
            <th colspan="3">실이용 아동수</th>
            <th colspan="2">배정량 대비 이용률</th>
          </tr>
          <tr>
            <th colspan="2">신규 이용</th>
            <th rowspan="2">실 이용 <br> ⓗ+ⓘ+ⓙ</th>
            <th rowspan="2">배정량<br>(명)</th>
            <th rowspan="2">이용률<br>(%)</th>
          </tr>
          <tr>
            <th>신규 ⓘ</th>
            <th>기급 돌봄 ⓙ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
          <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>실 이용 아동 수</h3>
    <div class="table-wrap color-table">
      <table>
        <thead>
          <tr>
            <th>월별</th>
            <th>자폐성</th>
            <th>지적</th>
            <th>뇌병변</th>
            <th>지체</th>
            <th>시각</th>
            <th>청각</th>
            <th>정신</th>
            <th>신장</th>
            <th>심장</th>
            <th>호흡기</th>
            <th>간</th>
            <th>안면</th>
            <th>장루</th>
            <th>간질</th>
            <th>언어</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
            <td>175</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>111</td>
            <td>2,938</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
            <td>175</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>111</td>
            <td>2,938</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
            <td>175</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>111</td>
            <td>2,938</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
            <td>175</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>111</td>
            <td>2,938</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>연령 별</h3>
    <div class="table-wrap color-table">
      <table>
        <thead>
          <tr>
            <th>월별</th>
            <th>만3세 미만</th>
            <th>만3세이상 ~ 만6세 미만</th>
            <th>만6세이상 ~ 만 12세 미만</th>
            <th>만12세이상 ~ 만 18세 미만</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tables-wrap">
    <div class="con-box con-box4">
      <h3>가족형태</h3>
      <div class="table-wrap color-table">
        <table>
          <thead>
            <tr>
              <th>월별</th>
              <th>한부모</th>
              <th>조순</th>
              <th>맞벌이</th>
              <th>다자녀</th>
              <th>다문화</th>
              <th>일반</th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1월</td>
              <td>328</td>
              <td>20</td>
              <td>561</td>
              <td>375</td>
              <td>97</td>
              <td>1,537</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>2월</td>
              <td>328</td>
              <td>20</td>
              <td>561</td>
              <td>375</td>
              <td>97</td>
              <td>1,537</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>3월</td>
              <td>328</td>
              <td>20</td>
              <td>561</td>
              <td>375</td>
              <td>97</td>
              <td>1,537</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>계</td>
              <td>328</td>
              <td>20</td>
              <td>561</td>
              <td>375</td>
              <td>97</td>
              <td>1,537</td>
              <td>2,938</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="con-box con-box4">
      <h3>가족형태</h3>
      <div class="table-wrap color-table">
        <table>
          <thead>
            <tr>
              <th>양육자 장애 有</th>
              <th>양육자 장애 無</th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>125</td>
              <td>2,813</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>125</td>
              <td>2,813</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>125</td>
              <td>2,813</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>125</td>
              <td>2,813</td>
              <td>2,938</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>
</body>
</html>
