<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <a href="#" title="hamburger-button" class="hamburger-button only-tablet on"><span class="bar">메뉴 열고/닫기</span></a>
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">교육이수 > 교육이수 현황 조회</h3>
  <div class="con-box">
    <div class="search-box education">
      <div class="input-box info-input-box">
        <div class="input">
          <label for="">시행기관</label>
          <div class="select-box">
            <select name="" id="">
              <option value="">전체</option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
          </div>
        </div>
        <div class="input service">
          <label for="">교육 기간</label>
          <div class="datepicker-box">
            <input type="text" id="date1" class="info-input datepicker">
            <label for="date1">
              <img src="./../img/datepicker-arrow.png" alt="달력 열기" />
            </label>
          </div>
          <span class="age-input"> ~ </span>
          <div class="datepicker-box">
            <input type="text" id="date2" class="info-input datepicker">
            <label for="date2">
              <img src="./../img/datepicker-arrow.png" alt="달력 열기" />
            </label>
          </div>
        </div>
        <div class="input">
          <label for="">돌보미 성명</label>
          <input type="text" id="" class="info-input">
        </div>
        <div class="input">
          <label for="">교육 유형</label>
          <div class="select-box">
            <select name="" id="">
              <option value="">전체</option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
          </div>
        </div>
      </div>
      <div class="btn-wrap j-center">
        <button class="btn small">조회</button>
      </div>
    </div>
  </div>

  <div class="table-heading">
    <div>
      <div class="upload-filebox btn shadow">
        <label for="upload-file"><img src="../img/Excel-logo.svg">Excel 업로드</label>
        <input type="file" id="upload-file"> 
      </div>
      <div class="download-filebox btn shadow">
        <a href="" download="">
          <img src="../img/Excel-logo.svg" alt="엑셀로고">
          <span>Excel 다운로드</span>
        </a>
      </div>
    </div>
    <div class="input list"> 
      <div class="select-box">
        <select name="" id="" class="info-text">
          <option value="">10</option>
          <option value="">20</option>
          <option value="">30</option>
        </select>
        <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
      </div>   
    </div>
  </div>
  <div class="table-wrap color-table table5">
    <table>
      <thead>
        <tr>
          <th>연변</th>
          <th>시행기관</th>
          <th>돌보미</th>
          <th>교육기관</th>
          <th>교육일자</th>
          <th>교육유형</th>
          <th>이수시간</th>
          <th>비고</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="8">
            <p>검색된 내용이 없습니다.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="table-wrap color-table table6">
    <table>
      <thead>
        <tr>
          <th>연변</th>
          <th>시행기관</th>
          <th>돌보미</th>
          <th>교육기관</th>
          <th>교육일자</th>
          <th>교육유형</th>
          <th>이수시간</th>
          <th>비고</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>111</td>
          <td>서울</td>
          <td>김하나</td>
          <td>교육기관1</td>
          <td>2022.06.01</td>
          <td>양성교육</td>
          <td>40시간</td>
          <td><button class="btn small line">출력</button></td>
        </tr>
        <tr>
          <td>111</td>
          <td>서울</td>
          <td>김하나</td>
          <td>교육기관1</td>
          <td>2022.06.01</td>
          <td>양성교육</td>
          <td>40시간</td>
          <td><button class="btn small line">출력</button></td>
        </tr>
        <tr>
          <td>111</td>
          <td>서울</td>
          <td>김하나</td>
          <td>교육기관1</td>
          <td>2022.06.01</td>
          <td>양성교육</td>
          <td>40시간</td>
          <td><button class="btn small line">출력</button></td>
        </tr>
        <tr>
          <td>111</td>
          <td>서울</td>
          <td>김하나</td>
          <td>교육기관1</td>
          <td>2022.06.01</td>
          <td>양성교육</td>
          <td>40시간</td>
          <td><button class="btn small line">출력</button></td>
        </tr>
        <tr>
          <td>111</td>
          <td>서울</td>
          <td>김하나</td>
          <td>교육기관1</td>
          <td>2022.06.01</td>
          <td>양성교육</td>
          <td>40시간</td>
          <td><button class="btn small line">출력</button></td>
        </tr>
        <tr>
          <td>111</td>
          <td>서울</td>
          <td>김하나</td>
          <td>교육기관1</td>
          <td>2022.06.01</td>
          <td>양성교육</td>
          <td>40시간</td>
          <td><button class="btn small line">출력</button></td>
        </tr>
      </tbody>
    </table>

    <div class="pagpan">
      <a href="javascript:void(0);"><span><img src="../img/left-double-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/left-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span class="active">1</span></a>
      <a href="javascript:void(0);"><span>2</span></a>
      <a href="javascript:void(0);"><span>3</span></a>
      <a href="javascript:void(0);"><span>4</span></a>
      <a href="javascript:void(0);"><span>5</span></a>
      <a href="javascript:void(0);"><span>6</span></a>
      <a href="javascript:void(0);"><span>7</span></a>
      <a href="javascript:void(0);"><span>8</span></a>
      <a href="javascript:void(0);"><span>9</span></a>
      <a href="javascript:void(0);"><span>10</span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-arrow.jpg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-double-arrow.svg" alt=""></span></a>
    </div>
  </div>
</div>

<!-- 팝업 임시 위치 -->
<div style="display:flex;position:fixed;bottom:10px;right:10px;">
  <button type="button" class="btn pop-btn pop14">출력</button>
</div>
<!-- // 팝업 임시 위치 -->

<div class="popup pop14">
  <div class="pop-box pop-box2">
    <div class="pop-title">
      <h3>장애아돌보미 교육이수 수료증</h3>
      <button type="button" class="btn pop-close"></button>
    </div>
    <div class="pop-body">
      <h2>수료증</h2>
      <p>성 명 : 김하나</p>
      <p>주민등록번호 : 790408-2*******</p>
      <p>교육과정 명 : 양성교육 40 시간</p>
      <p>교육기관 : 교육기관 1</p>
      <p>위 사항은 (교육기관1)에서 실시간 장애아돌보미 (양성교육 40시간)을
        수료하였으므로 이 증서를 수여합니다. </p>
      <h3 class="certi-date">2022년 08월 04일</h3>
      <div class="certi-mark flex">
        <h3>서울시행기관장</h3>
        <div class="mark-box"></div>
      </div>
      <div class="btn-wrap j-end">
        <button type="button" class="btn small print-btn">인쇄</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
