<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <a href="#" title="hamburger-button" class="hamburger-button only-tablet on"><span class="bar">메뉴 열고/닫기</span></a>
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">게시판 > 커뮤니티</h3>

  <div class="con-box">
    <div class="search-box education">
      <div class="input-box info-input-box">
        <div class="input">
          <div class="select-box">
            <select name="" id="">
              <option value="">제목</option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
          </div>
        </div>
        <div class="input">
          <input type="text" id="" class="info-input info-input-title">
        </div>
        <div class="input service">
          <label for="">서비스 기간</label>
          <div class="datepicker-box">
            <input type="text" id="date1" class="info-input datepicker">
            <label for="date1">
              <img src="./../img/datepicker-arrow.png" alt="달력 열기" />
            </label>
          </div>
          <span class="age-input"> ~ </span>
          <div class="datepicker-box">
            <input type="text" id="date2" class="info-input datepicker">
            <label for="date2">
              <img src="./../img/datepicker-arrow.png" alt="달력 열기" />
            </label>
          </div>
        </div>
      </div>
      <div class="btn-wrap j-center">
        <button class="btn small">검색</button>
      </div>
    </div>
  </div>

  <div class="table-heading">
    <div class="exel-box">
      <div class="upload-filebox btn shadow">
        <label for="upload-file"><img src="../img/Excel-logo.svg">Excel 업로드</label>
        <input type="file" id="upload-file"> 
      </div>
      <div class="download-filebox btn shadow">
        <a href="" download="">
          <img src="../img/Excel-logo.svg" alt="엑셀로고">
          <span>Excel 다운로드</span>
        </a>
      </div>
    </div>
    <div class="exel-box">
      <div class="input list"> 
        <div class="select-box">
          <select name="" id="" class="info-text">
            <option value="">10</option>
            <option value="">20</option>
            <option value="">30</option>
          </select>
          <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
        </div>   
      </div>
    </div>
  </div>

  <div class="table-wrap color-table table6">
    <table>
      <thead>
       <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
        <th>작성일자</th>
        <th>조회</th>
       </tr>
      </thead>
      <tbody>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">커뮤니티 메뉴는 모든 이용자들이 접근 가능합니다.</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">커뮤니티 게시판과 공지 게시판의 차이는</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">댓글을 입력 할 수 있느냐의 차이와</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">파일을 첨부 할 수 있느냐의 차이밖에 없습니다.</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">글을 작성 할 때 공지 유형에 따라</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">돌보미만 보거나</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">이용자만 보거나</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">양쪽 다 볼 수 있습니다.</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">광주공지</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>
        <tr>
          <td>111</td>
          <td><div class="notice-table-title">울산공지</div></td>
          <td>김하나</td>
          <td>2022.11.10</td>
          <td>1</td>
        </tr>

      </tbody>
    </table>

    <div class="pagpan">
      <a href="javascript:void(0);"><span><img src="../img/left-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/left-double-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span class="active">1</span></a>
      <a href="javascript:void(0);"><span>2</span></a>
      <a href="javascript:void(0);"><span>3</span></a>
      <a href="javascript:void(0);"><span>4</span></a>
      <a href="javascript:void(0);"><span>5</span></a>
      <a href="javascript:void(0);"><span>6</span></a>
      <a href="javascript:void(0);"><span>7</span></a>
      <a href="javascript:void(0);"><span>8</span></a>
      <a href="javascript:void(0);"><span>9</span></a>
      <a href="javascript:void(0);"><span>10</span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-arrow.jpg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-double-arrow.svg" alt=""></span></a>
      <button class="btn xsmall left-side-btn">글쓰기</button>
    </div>
  </div>
</div>


</body>
</html>
