<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body class="b-white no-commons">
<div class="wrap find-account">
  <h2>
    장애아가족 양육지원 서비스<br />
    관리 시스템
  </h2>
  <div class="btn-wrap tab-box">
    <a href="#" class="btn">아이디 찾기</a>
    <a href="#" class="btn off">비밀번호 찾기</a>
  </div>
  <div class="tabs">
    <p class="no-data">소속 기관으로 문의하시기 바랍니다.</p>
  </div>
</div>
</body>
</html>
