<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <a href="#" title="hamburger-button" class="hamburger-button only-tablet on"><span class="bar">메뉴 열고/닫기</span></a>
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">관리자 페이지 > 서비스 현황 > 이용자 정보</h3>
  <div class="con-box">
    <div class="input-box info-input-box">
      <div class="input">
        <label for="">실적기관</label>
        <div class="select-box">
          <select name="" id="">
            <option value="">전체</option>
            <option value=""></option>
            <option value=""></option>
          </select>
          <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
        </div>
      </div>

      <div class="input">
        <label for="">성명</label>
        <input type="text" id="" class="info-input">
      </div>

      <div class="input">
        <label for="">성별</label>
        <div class="select-box">
          <select name="" id="">
            <option value="">남</option>
            <option value="">여</option>
          </select>
          <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
        </div>
      </div>

      <div class="input">
        <label for="">나이</label>
        <input type="text" id="" class="info-input">
        <span class="age-input"> ~ </span>
        <input type="text" id="" class="info-input">
      </div>
      
      <button class="btn small">조회</button>
    </div>

    <div class="info-details">
      <div class="info-detail-item adress">
        <h4>주소지</h4>
        <div class="info-detail-box">
          <p>강서구</p>
          <p>양천구</p>
          <div class="address-btn-box">
            <button class="btn"><img src="../img/plus.svg" alt=""></button>
            <button class="btn"><img src="../img/minus.svg" alt=""></button>
          </div>
        </div>
      </div>
      <div class="info-detail-item target">
        <h4>활동 희망대상</h4>
        <div class="info-detail-box">
          <div class="check-box check-box3">
            <div class="check">
              <input type="checkbox" id="1" >
              <label for="1"><span class="icon"></span>자폐성</label>
            </div>
            <div class="check">
              <input type="checkbox" id="2">
              <label for="2"><span class="icon"></span>지적</label>
            </div>
            <div class="check">
              <input type="checkbox" id="3">
              <label for="3"><span class="icon"></span>뇌병변</label>
            </div>
            <div class="check">
              <input type="checkbox" id="4">
              <label for="4"><span class="icon"></span>지체</label>
            </div>
            <div class="check">
              <input type="checkbox" id="5">
              <label for="5"><span class="icon"></span>시각</label>
            </div>
            <div class="check">
              <input type="checkbox" id="6">
              <label for="6"><span class="icon"></span>청각</label>
            </div>
            <div class="check">
              <input type="checkbox" id="7">
              <label for="8"><span class="icon"></span>정신</label>
            </div>
            <div class="check">
              <input type="checkbox" id="8">
              <label for="8"><span class="icon"></span>신장</label>
            </div>
            <div class="check">
              <input type="checkbox" id="9">
              <label for="9"><span class="icon"></span>심장</label>
            </div>
            <div class="check">
              <input type="checkbox" id="10">
              <label for="10"><span class="icon"></span>호흡기</label>
            </div>
            <div class="check">
              <input type="checkbox" id="11">
              <label for="11"><span class="icon"></span>간</label>
            </div>
            <div class="check">
              <input type="checkbox" id="12">
              <label for="12"><span class="icon"></span>인연</label>
            </div>
            <div class="check">
              <input type="checkbox" id="13">
              <label for="13"><span class="icon"></span>장루</label>
            </div>
            <div class="check">
              <input type="checkbox" id="14">
              <label for="14"><span class="icon"></span>간질</label>
            </div>
            <div class="check">
              <input type="checkbox" id="15">
              <label for="15"><span class="icon"></span>언어</label>
            </div>
          </div>
        </div>
      </div>
      <div class="info-detail-item wage">
        <h4>소득기준</h4>
        <div class="info-detail-box">
          <div class="check-box check-box2">
            <div class="check">
              <input type="checkbox" id="16">
              <label for="16"><span class="icon"></span>120%이하</label>
            </div>
            <div class="check">
              <input type="checkbox" id="17">
              <label for="17"><span class="icon"></span>120%초과</label>
            </div>
          </div>
        </div>
      </div>
      <div class="info-detail-item user-condition">
        <h4>이용자상태</h4>
        <div class="info-detail-box">
          <div class="check-box check-box2">
            <div class="check">
              <input type="checkbox" id="18">
              <label for="18"><span class="icon"></span>선정아동</label>
            </div>
            <div class="check">
              <input type="checkbox" id="19">
              <label for="19"><span class="icon"></span>연계아동</label>
            </div>
            <div class="check">
              <input type="checkbox" id="20">
              <label for="20"><span class="icon"></span>미연계아동</label>
            </div>
          </div>
        </div>
      </div>
      <div class="info-detail-item user-condition2">
        <h4>이용자상태</h4>
        <div class="info-detail-box">
          <div class="check-box check-box2">
            <div class="check">
              <input type="checkbox" id="21">
              <label for="21"><span class="icon"></span>연속 (연계)</label>
            </div>
            <div class="check">
              <input type="checkbox" id="22">
              <label for="22"><span class="icon"></span>신규(연계)</label>
            </div>
            <div class="check">
              <input type="checkbox" id="23">
              <label for="23"><span class="icon"></span>재선정 (연계)</label>
            </div>
            <div class="check">
              <input type="checkbox" id="24">
              <label for="24"><span class="icon"></span>선정취소아동</label>
            </div>
            <div class="check">
              <input type="checkbox" id="25">
              <label for="25"><span class="icon"></span>종결아동</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-heading">
    <div>
      <div class="upload-filebox btn shadow">
        <label for="upload-file"><img src="../img/Excel-logo.svg">Excel 업로드</label>
        <input type="file" id="upload-file"> 
      </div>
      <div class="download-filebox btn shadow">
        <a href="" download="">
          <img src="../img/Excel-logo.svg" alt="엑셀로고">
          <span>Excel 다운로드</span>
        </a>
      </div>
    </div>
    <div>
      <button class="btn shadow">
        <span>3개월 이상 활동 공백 돌보미 찾기</span>
      </button>
      <select name="" id="" class="info-input">
        <option value="">10</option>
        <option value="">20</option>
        <option value="">30</option>
      </select>
    </div>
  </div>
  <div class="table-wrap color-table table5">
    <table>
      <thead>
        <tr>
          <th>연변</th>
          <th>시행기관</th>
          <th>성명</th>
          <th>성별</th>
          <th>나이</th>
          <th>주소지</th>
          <th>장애유형</th>
          <th>소득 기준</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="8" class="no-data-box">
            <p>검색된 내용이 없습니다.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-wrap color-table table6">
    <table>
      <thead>
        <tr>
          <th>연번</th>
          <th>시행기관</th>
          <th>성명</th>
          <th>성별</th>
          <th>나이</th>
          <th>활동가능 지역</th>
          <th>활동희망 장소</th>
          <th>자격증 여부</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
        <tr>
          <td>120</td>
          <td>서울</td>
          <td>김하나</td>
          <td>여</td>
          <td>41</td>
          <td>서울특별시 강서구</td>
          <td>자폐성 장애</td>
          <td>120%이하</td>
        </tr>
      </tbody>
    </table>
    <div class="pagpan">
      <a href="javascript:void(0);"><span><img src="../img/left-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/left-double-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span class="active">1</span></a>
      <a href="javascript:void(0);"><span>2</span></a>
      <a href="javascript:void(0);"><span>3</span></a>
      <a href="javascript:void(0);"><span>4</span></a>
      <a href="javascript:void(0);"><span>5</span></a>
      <a href="javascript:void(0);"><span>6</span></a>
      <a href="javascript:void(0);"><span>7</span></a>
      <a href="javascript:void(0);"><span>8</span></a>
      <a href="javascript:void(0);"><span>9</span></a>
      <a href="javascript:void(0);"><span>10</span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-arrow.jpg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-double-arrow.svg" alt=""></span></a>
    </div>
  </div>
</div>
</body>
</html>
