<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <a href="#" title="hamburger-button" class="hamburger-button only-tablet on"><span class="bar">메뉴 열고/닫기</span></a>
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">돌보미 급여 조회 > 급여 조회</h3>
  <div class="table-heading">
    <div class="exel-box j-end only">
      <div class="download-filebox btn shadow">
        <a href="" download="">
          <img src="../img/Excel-logo.svg" alt="엑셀로고">
          <span>Excel 다운로드</span>
        </a>
      </div>
    </div>
  </div>
  <div class="con-box">
    <div class="user-info-wrap">
      <div class="info-title-box">
        <h3>배정 상세 정보</h3>
      </div>

        <div class="input-box info-input-box4">
          <div class="input">
            <label for="">연번</label>
            <input type="text" id="" disabled value="123">
          </div>
          <div class="input">
            <label for="">성별</label>
            <input type="text" id="" disabled value="여자">
          </div>
          <div class="input">
            <label for="">소속</label>
            <input type="text" id="" disabled value="중앙">
          </div>
          <div class="input">
            <label for="">연락처</label>
            <input type="text" id="" disabled value="010-123-4567">
          </div>
          <div class="input">
            <label for="">성명</label>
            <input type="text" id="" disabled value="김돌봄">
          </div>
          <div class="input">
            <label for="">이메일</label>
            <input type="text" id="" disabled value="kim123@naver.com">
          </div>
          <div class="input">
            <label for="">생년월일</label>
            <input type="text" id="" disabled value="2000.01.02">
          </div>
          <div class="input">
            <label for="">주소</label>
            <input type="text" id="" disabled value="서울특별시 강서구 화곡로 000 121호">
          </div>
          <div class="input">
            <label for="">나이</label>
            <input type="text" id="" disabled value="45">
          </div>
          <div class="input">
            <label for="">양성교육</label>
            <input type="text" id="" disabled value="수료">
          </div>
        </div>
    </div>

    <div class="user-info-wrap info-wrap">
      <h3>돌보미 급여 정보</h3>
      <div class="table-wrap color-table multi-table  ">
        <table>
          <thead>
            <tr>
              <th rowspan="2">날짜</th>
              <th>돌봄수당</th>
              <th>주휴수당</th>
              <th>연차수당</th>
              <th>휴일근로수당</th>
              <th>야간근로수당</th>
              <th>상여</th>
              <th>교통비</th>
            </tr>
            <tr>
              <th>소득세</th>
              <th>주민세</th>
              <th>국민연금</th>
              <th>건강보험</th>
              <th>고용보험</th>
              <th></th>
              <th>총계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan="2">2022.11</td>
              <td>123,000</td>
              <td>1,234,000</td>
              <td>5,000</td>
              <td>3,000</td>
              <td>78,000</td>
              <td>5,000</td>
              <td>100,000</td>
            </tr>
            <tr>
              <td>12,000</td>
              <td>112,000</td>
              <td>150,000</td>
              <td>90,000</td>
              <td>10,000</td>
              <td></td>
              <td>2,000,000</td>
            </tr>
            <tr>
              <td rowspan="2">2022.12</td>
              <td>123,000</td>
              <td>1,234,000</td>
              <td>5,000</td>
              <td>3,000</td>
              <td>78,000</td>
              <td>5,000</td>
              <td>100,000</td>
            </tr>
            <tr>
              <td>12,000</td>
              <td>112,000</td>
              <td>150,000</td>
              <td>90,000</td>
              <td>10,000</td>
              <td></td>
              <td>2,000,000</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>

</body>
</html>
