<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body class="b-white">
<header>
  <div class="wrap">
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <a href="#" class="btn line">로그인</a>
    </div>
  </div>
</header>



<div class="wrap">
  <div class="service-img"></div>
</div>

<footer>
  <div class="wrap">
    <div class="footer-top">
      <ul>
        <li><a href="#" class="pop-btn pop21">개인정보 처리방침</a></li>
        <li><a href="#" class="pop-btn pop22">저작권 정책</a></li>
        <li><a href="#">오시는 길</a></li>
      </ul>
      <div>
        <select name="" id="">
          <option value="">관련 사이트</option>
          <option value=""></option>
        </select>
        <a href="#" class="btn line">이동</a>
      </div>
    </div>
    <div>
      <p>발달재활서비스 제공인력 자격관리 : 1544-6065</p>
      <p>대표전화 : 02-3433-0743</p>
      <p>팩스 : 02-3433-0739</p>
      <p>발달장애인 권리구제상담 : 1522-2882</p>
    </div>
    <div>
      <p>[07236] 서울시 영등포구 의사당대로 22 이룸센터 7층 중앙장애아동, 발달장애인지원센터</p>
      <p> COPYRIGHTS⒞ 2017 NATIONAL CENTER FOR DISABLED CHILDREN AND DEVELOPMENTAL DISABILITIES. ALL RIGHTS RESERVED</p>
    </div>
  </div>
</footer>


<div class="popup pop21">
  <div class="pop-box pop-box2">
    <div class="pop-title">
      <h3>개인정보처리 방침</h3>
      <button type="button" class="btn pop-close"></button>
    </div>
    <div class="pop-body">
      <p>
        개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인정보처리방침 내용입니다.개인.
      </p>
      <div class="btn-wrap j-end">
        <button type="button" class="btn small ok-btn">닫기</button>
      </div>
    </div>
  </div>
</div>
<div class="popup pop22">
  <div class="pop-box pop-box2">
    <div class="pop-title">
      <h3>저작권 정책</h3>
      <button type="button" class="btn pop-close"></button>
    </div>
    <div class="pop-body">
      <p>
        저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.저작권 정책 문구 영역입니다.
      </p>
      <div class="btn-wrap j-end">
        <button type="button" class="btn small ok-btn">닫기</button>
      </div>
    </div>
  </div>
</div>


</body>
</html>
