<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <a href="#" title="hamburger-button" class="hamburger-button only-tablet on"><span class="bar">메뉴 열고/닫기</span></a>
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">관리자 페이지 > 메시지 발송</h3>
  <div class="con-box">
    <div class="input-box info-input-box">
      <div class="input">
        <label for="">시행기관</label>
        <select name="" id="" class="info-input">
          <option value="">전체</option>
          <option value=""></option>
        </select>
      </div>
      <div class="input">
        <label for="">권한구분</label>
        <select name="" id="" class="info-input">
          <option value="">전체</option>
          <option value=""></option>
        </select>
      </div>
      <div class="input">
        <label for="">성명</label>
        <input type="text">
      </div>
      <button class="btn">조회</button>
    </div>
  </div>

  <div class="table-heading j-end">
    <div>
      <div class="input">
        <select name="" id="" class="info-input">
          <option value="">10</option>
          <option value="">20</option>
          <option value="">50</option>
        </select>
      </div>
    </div>
  </div>
  <div class="table-wrap color-table table5">
    <table>
      <thead>
        <tr>
          <th>연번</th>
          <th>시행기관</th>
          <th>권한구분</th>
          <th>성명</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">검색된 내용이 없습니다.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-heading">
    <div>
      <button class="btn line">배정 정보 발송</button>
      <button class="btn line">당일 서비스 계획 발송</button>
      <button class="btn line">잔여시간 정보 발송</button>
    </div>
    <div>
      <div class="input">
        <select name="" id="" class="info-input">
          <option value="">10</option>
          <option value="">20</option>
          <option value="">50</option>
        </select>
      </div>
    </div>
  </div>
  <div class="table-wrap color-table table6">
    <table>
      <thead>
        <tr>
          <th>연번</th>
          <th>시행기관</th>
          <th>관련구분</th>
          <th>성명</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>이용자</td>
          <td>박하나</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>이용자</td>
          <td>박하나</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>이용자</td>
          <td>박하나</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>이용자</td>
          <td>박하나</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>이용자</td>
          <td>박하나</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>이용자</td>
          <td>박하나</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>이용자</td>
          <td>박하나</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>이용자</td>
          <td>박하나</td>
        </tr>
      </tbody>
    </table>
    <div class="pagpan">
      <a href="javascript:void(0);"><span><img src="../img/left-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/left-double-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span class="active">1</span></a>
      <a href="javascript:void(0);"><span>2</span></a>
      <a href="javascript:void(0);"><span>3</span></a>
      <a href="javascript:void(0);"><span>4</span></a>
      <a href="javascript:void(0);"><span>5</span></a>
      <a href="javascript:void(0);"><span>6</span></a>
      <a href="javascript:void(0);"><span>7</span></a>
      <a href="javascript:void(0);"><span>8</span></a>
      <a href="javascript:void(0);"><span>9</span></a>
      <a href="javascript:void(0);"><span>10</span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-arrow.jpg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-double-arrow.svg" alt=""></span></a>
    </div>
  </div>
</div>

<!-- 팝업 임시 위치 -->
<div style="display:flex;position:fixed;bottom:10px;right:10px;">
  <button type="button" class="btn pop-btn pop9">팝업9</button>
</div>
<!-- // 팝업 임시 위치 -->

<div class="popup pop9">
  <div class="pop-box">
    <div class="pop-title">
      <h3>메시지 발송</h3>
      <button type="button" class="btn pop-close"></button>
    </div>
    <div class="pop-body">
      <p>
        000에게 000 메시지를 발송하시겠습니까?
      </p>
      <div class="btn-wrap j-center">
        <button type="button" class="btn small close-btn">아니요</button>
        <button type="button" class="btn small ok-btn">네</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
