<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">관리자 페이지 > 사업 실적> 돌보미 교육만족도 관리</h3>
  <div class="con-box">
    <div class="input-box info-input-box">
      <div class="input">
        <label for="">시행기관</label>
        <select name="" id="" class="info-input">
          <option value="">전체</option>
          <option value=""></option>
        </select>
      </div>

      <div class="input">
        <label for="">서비스 기간</label>
        <input type="date" id="" class="info-input">
        <span class="age-input"> ~ </span>
        <input type="date" id="" class="info-input">
      </div>
      <button class="btn">조회</button>
    </div>
  </div>

  <div class="table-heading j-start">
    <div>
      <div class="upload-filebox btn shadow">
        <label for="upload-file"><img src="../img/Excel-logo.svg">Excel 업로드</label>
        <input type="file" id="upload-file"> 
      </div>
      <div class="download-filebox btn shadow">
        <a href="" download="">
          <img src="../img/Excel-logo.svg" alt="엑셀로고">
          <span>Excel 다운로드</span>
        </a>
      </div>
    </div>
  </div>

  <div class="table-wrap color-table">
    <table>
      <thead>
        <tr>
          <th>연번</th>
          <th>시행기관</th>
          <th>성명</th>
          <th>과정명</th>
          <th>교육기간</th>
          <th>수료여부</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>111</td>
          <td>경기</td>
          <td>김경기</td>
          <td>2022 역량강화 1분기</td>
          <td>2022.05.11 ~ 2022.05.11</td>
          <td>수료</td>
        </tr>
        <tr>
          <td>111</td>
          <td>경기</td>
          <td>김경기</td>
          <td>2022 역량강화 1분기</td>
          <td>2022.05.11 ~ 2022.05.11</td>
          <td>수료</td>
        </tr>
        <tr>
          <td>111</td>
          <td>경기</td>
          <td>김경기</td>
          <td>2022 역량강화 1분기</td>
          <td>2022.05.11 ~ 2022.05.11</td>
          <td>수료</td>
        </tr>
        <tr>
          <td>111</td>
          <td>경기</td>
          <td>김경기</td>
          <td>2022 역량강화 1분기</td>
          <td>2022.05.11 ~ 2022.05.11</td>
          <td>수료</td>
        </tr>
        <tr>
          <td>111</td>
          <td>경기</td>
          <td>김경기</td>
          <td>2022 역량강화 1분기</td>
          <td>2022.05.11 ~ 2022.05.11</td>
          <td>수료</td>
        </tr>
        <tr>
          <td>111</td>
          <td>경기</td>
          <td>김경기</td>
          <td>2022 역량강화 1분기</td>
          <td>2022.05.11 ~ 2022.05.11</td>
          <td>수료</td>
        </tr>
        <tr>
          <td>111</td>
          <td>경기</td>
          <td>김경기</td>
          <td>2022 역량강화 1분기</td>
          <td>2022.05.11 ~ 2022.05.11</td>
          <td>수료</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
</body>
</html>
