<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="side-menu">
  <ul class="main-menu">
    <li><a href="#"><img src="../img/home-icon.svg" alt=""><img src="../img/home-wt-icon.svg" class="icon-focus"></a>
    </li>
    <li><a href="#"><img src="../img/group-icon.svg" alt=""><img src="../img/group-wt-icon.svg" class="icon-focus"></a>
      <ul class="second-menu">
        <li><a href="#">배정조회</a></li>
        <li><a href="#">서비스 관리<img src="../img/down-arrow.svg"></a>
          <ul class="third-menu">
            <li><a href="#">서비스 조회</a></li>
            <li><a href="#">월간 서비스 계획</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#"><img src="../img/assign-icon.svg" alt=""><img src="../img/assign-wt-icon.svg" class="icon-focus"></a>
      <ul class="second-menu">
        <li><a href="#">교육이수현황 조회</a></li>
      </ul>
    </li>
    <li><a href="#"><img src="../img/find-icon.svg" alt=""><img src="../img/find-wt-icon.svg" class="icon-focus"></a>
      <ul class="second-menu">
        <li><a href="#">급여 조회</a></li>
      </ul>
    </li>
    <li><a href="#"><img src="../img/note-icon.svg" alt=""><img src="../img/note-wt-icon.svg" class="icon-focus"></a>
      <ul class="second-menu">
        <li><a href="#">공지사항</a></li>
        <li><a href="#">커뮤니티</a></li>
        <li><a href="#">1:1문의</a></li>
      </ul>
    </li>
    <li><a href="#"><img src="../img/setting-icon.svg" alt=""><img src="../img/setting-wt-icon.svg" class="icon-focus"></a>
      <ul class="second-menu">
        <li><a href="#">서비스현황<img src="../img/down-arrow.svg"></a>
          <ul class="third-menu">
            <li><a href="#">돌보미 정보</a></li>
            <li><a href="#">이용자 정보</a></li>
            <li><a href="#">서비스 모니터링</a></li>
          </ul>
        </li>
        <li><a href="#">사업실적<img src="../img/down-arrow.svg"></a>
          <ul class="third-menu">
            <li><a href="#">지역 현황</a></li>
            <li><a href="#">돌봄 서비스 현황</a></li>
            <li><a href="#">장애아 돌보미 현황</a></li>
            <li><a href="#">휴식지원 프로그램 현황</a></li>
            <li><a href="#">연간 사업 이용만족도 통계</a></li>
            <li><a href="#">돌보미 교육만족도 관리</a></li>
            <li><a href="#">교육이수확인</a></li>
          </ul>
        </li>
        <li><a href="#">시스템총괄<img src="../img/down-arrow.svg"></a>
          <ul class="third-menu">
            <li><a href="#">돌봄서비스 소개 관리</a></li>
            <li><a href="#">휴식지원프로그램 소개 관리</a></li>
            <li><a href="#">오시는 길 관리</a></li>
            <li><a href="#">관련 사이트 관리</a></li>
            <li><a href="#">시스템 파라미터 관리</a></li>
          </ul>
        </li>
        <li><a href="#">메시지발송</a></li>
      </ul>
    </li>
    <!-- <div class="sub-menu-bg"></div> -->
  </ul>
  
</div>

<div class="wrap">
  <h3 class="info-title">돌봄서비스 > 배정조회</h3>
  <div class="con-box">
    <div class="input-box info-input-box">
      <div class="input">
        <label for="">시행기관</label>
        <select name="" id="" class="info-input">
          <option value="">전체</option>
          <option value=""></option>
        </select>
      </div>
      <div class="input">
        <label for="">배정 일자</label>
        <input type="text" id="" class="info-input datepicker">
        <span class="age-input"> ~ </span>
        <input type="text" id="" class="info-input datepicker">
      </div>
      <div class="input">
        <label for="">돌보미 성명</label>
        <input type="text" id="" class="info-input">
      </div>
      <div class="input">
        <label for="">장애아동 성명</label>
        <input type="text" id="" class="info-input">
      </div>
      <button class="btn">조회</button>
    </div>

    <div class="input-box info-input-box info-input-box2">
      <div class="input">
        <label for="">배정상태</label>
        <select name="" id="" class="info-input">
          <option value="">전체</option>
          <option value=""></option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-heading">
    <div>
      <div class="upload-filebox btn shadow">
        <label for="upload-file"><img src="../img/Excel-logo.svg">Excel 업로드</label>
        <input type="file" id="upload-file"> 
      </div>
      <div class="download-filebox btn shadow">
        <a href="" download="">
          <img src="../img/Excel-logo.svg" alt="엑셀로고">
          <span>Excel 다운로드</span>
        </a>
      </div>
    </div>
    <div>
      <select name="" id="" class="info-input">
        <option value="">10</option>
        <option value="">20</option>
        <option value="">30</option>
      </select>
    </div>
  </div>
  <div class="table-wrap color-table table5">
    <table>
      <thead>
        <tr>
          <th>연변</th>
          <th>시행기관</th>
          <th>배정일자</th>
          <th>돌보미</th>
          <th>이용자</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="5">
            <p>검색된 내용이 없습니다.</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="table-wrap color-table multi-table">
    <table>
      <thead>
        <tr>
          <th rowspan="2">연번</th>
          <th rowspan="2">시행기관</th>
          <th rowspan="2">배정일자</th>
          <th colspan="2">돌보미</th>
          <th colspan="2">활동시간</th>
        </tr>
        <tr>
          <th>성명</th>
          <th>활동시간</th>
          <th>성명</th>
          <th>활동시간</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>2022.05.01</td>
          <td>김하나</td>
          <td>8시간30분</td>
          <td>김하나</td>
          <td>8시간30분</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>2022.05.01</td>
          <td>김하나</td>
          <td>8시간30분</td>
          <td>김하나</td>
          <td>8시간30분</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>2022.05.01</td>
          <td>김하나</td>
          <td>8시간30분</td>
          <td>김하나</td>
          <td>8시간30분</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>2022.05.01</td>
          <td>김하나</td>
          <td>8시간30분</td>
          <td>김하나</td>
          <td>8시간30분</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>2022.05.01</td>
          <td>김하나</td>
          <td>8시간30분</td>
          <td>김하나</td>
          <td>8시간30분</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>2022.05.01</td>
          <td>김하나</td>
          <td>8시간30분</td>
          <td>김하나</td>
          <td>8시간30분</td>
        </tr>
        <tr>
          <td>131</td>
          <td>서울</td>
          <td>2022.05.01</td>
          <td>김하나</td>
          <td>8시간30분</td>
          <td>김하나</td>
          <td>8시간30분</td>
        </tr>
      </tbody>
    </table>

    <div class="pagpan">
      <a href="javascript:void(0);"><span><img src="../img/left-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/left-double-arrow.svg" alt=""></span></a>
      <a href="javascript:void(0);"><span class="on">1</span></a>
      <a href="javascript:void(0);"><span>2</span></a>
      <a href="javascript:void(0);"><span>3</span></a>
      <a href="javascript:void(0);"><span>4</span></a>
      <a href="javascript:void(0);"><span>5</span></a>
      <a href="javascript:void(0);"><span>6</span></a>
      <a href="javascript:void(0);"><span>7</span></a>
      <a href="javascript:void(0);"><span>8</span></a>
      <a href="javascript:void(0);"><span>9</span></a>
      <a href="javascript:void(0);"><span>10</span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-arrow.jpg" alt=""></span></a>
      <a href="javascript:void(0);"><span><img src="../img/right-double-arrow.svg" alt=""></span></a>
    </div>
  </div>
</div>
</body>
</html>
