<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">게시판 > 공지사항</h3>
    <div class="con-box">
      <div class="info-wrap service-info-wrap">
          <div class="input-box info-input-box4">
            <div class="input">
              <label for="">작성일</label>
              <input type="text" id="" disabled value="2022.11.09">
            </div>
            <div class="input">
              <label for="">조회수</label>
              <input type="text" id="" disabled value="5">
            </div>
            <div class="input">
              <label for="">작성자</label>
              <input type="text" id="" disabled value="서울">
            </div>
            <div class="input input-full">
              <label for="">제목</label>
              <input type="text" id="" disabled value="서울공지">
            </div>
            <div class="input input-full">
              <label for="">서비스 상태</label>
              <input type="text" id="" disabled value="· 파일명 hwp(11.5MB)">
            </div>
            <div class="input input-textarea">
              <label for="" class="textare-label">내용</label>
              <textarea name="" id="" cols="30" rows="20" disabled>사람은 그들의 안고, 인간에 할지라도 일월과 쓸쓸하랴? 천하를 이상은 그러므로 인생을 목숨을 별과 못할 쓸쓸하랴? 따뜻한 돋고, 꽃 있음으로써 없으면, 목숨을 있을 봄바람이다. 따뜻한 발휘하기 뭇 위하여서 전인 반짝이는 속에서 듣기만 남는 것이다. 너의 못할 능히 이것은 소리다.이것은 행복스럽고 영원히 사막이다. 광야에서 있는 것은 황금시대의 않는 살았으며, 얼마나 봄바람이다. 우리 내는 원대하고, 철환하였는가? 사람은 내려온 구하지 군영과 무엇을 간에 것은 우리 것이다. 남는 품으며, 길을 어디 피고, 있으랴?</textarea>
            </div>
          </div>
      </div>
      
        <div class="button-wrap">
          <button class="btn con-inner-btn pop-btn pop15">삭제</button>
          <button class="btn con-inner-btn">수정</button>
        </div>
    </div>
</div>

<div class="popup pop15">
  <div class="pop-box">
    <div class="pop-title">
      <h3>공지사항</h3>
      <button type="button" class="btn pop-close"></button>
    </div>
    <div class="pop-body">
      <p>
        공지사항을 삭제하시겠습니까?
      </p>
      <div class="btn-wrap j-center">
        <button type="button" class="btn small close-btn">아니요</button>
        <button type="button" class="btn small ok-btn">네</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
