<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>장애아가족 양육지원사업</title>

  <!-- css -->
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">

  <!-- js & lib -->
  <script src="../lib/jquery-3.6.1/jquery-3.6.1.js"></script>
  <script src="../lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
  <script src="../js/common.js"></script>
</head>
<body>
<header>
  <div class="wrap">
    <a href="#" title="hamburger-button" class="hamburger-button only-tablet on"><span class="bar">메뉴 열고/닫기</span></a>
    <ul class="menu">
      <li class="on"><a href="#">Dash Board</a></li>
      <li><a href="#">돌봄 서비스</a></li>
      <li><a href="#">교육의수</a></li>
      <li><a href="#">돌보미 급여조회</a></li>
      <li><a href="#">게시판</a></li>
      <li><a href="#">관리자페이지</a></li>
    </ul>
    <div class="member-box">
      <p><span>(중앙)</span> 홍길동(kim0001)</p>
      <a href="#" class="btn line">로그아웃</a>
    </div>
  </div>
</header>

<div class="wrap">
  <h3 class="info-title">관리자 페이지 > 사업 실적> 지역 현황</h3>
  <div class="con-box">
    <div class="search-box">
      <div class="input-box info-input-box">
        <div class="input">
          <label for="">시행기관</label>
          <div class="select-box">
            <select name="" id="">
              <option value="">전체</option>
              <option value=""></option>
              <option value=""></option>
            </select>
            <span><img src="./../img/datepicker-arrow.png" alt="셀렉트박스 열기" /></span>
          </div>
        </div>
        <div class="input service">
          <label for="">기간</label>
          <div class="datepicker-box">
            <input type="text" id="date1" class="info-input datepicker">
            <label for="date1">
              <img src="./../img/datepicker-arrow.png" alt="달력 열기" />
            </label>
          </div>
          <span class="age-input"> ~ </span>
          <div class="datepicker-box">
            <input type="text" id="date2" class="info-input datepicker">
            <label for="date2">
              <img src="./../img/datepicker-arrow.png" alt="달력 열기" />
            </label>
          </div>
        </div>
      </div>
      <div class="btn-wrap j-center">
        <button class="btn small">조회</button>
      </div>
    </div>
  </div>  

  <div class="table-heading">
    <div class="exel-box">
      <div class="download-filebox btn shadow">
        <a href="" download="">
          <img src="../img/Excel-logo.svg" alt="엑셀로고">
          <span>Excel 다운로드</span>
        </a>
      </div>
    </div>
  </div>
  
  <div class="con-box con-box3">
    <p>검색된 내용이 없습니다.</p>
  </div>
  <div class="title-box">
    <h2>돌봄서비스 현황</h2>
  </div>
  <div class="con-box">
    <h3>Ⅰ. 선정 아동수</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="3">월별</th>
            <th colspan="6">돌봄서비스 선정 아동 수</th>
            <th colspan="6">돌봄서비스 대기이동수</th>
          </tr>
          <tr>
            <th rowspan="2">전월 ⓐ</th>
            <th rowspan="2">신규 ⓑ</th>
            <th rowspan="2">긴급 돌봄 ⓒ<br />(신규)</th>
            <th rowspan="2">포기, 탈락 ⓓ<br />(이용 無)</th>
            <th rowspan="2">포기, 탈락<br />(1시간 이상 이용)</th>
            <th rowspan="2">실선정<br>ⓐ+ⓑ+ⓒ+ⓓ</th>
            <th rowspan="2">전월 ⓔ</th>
            <th rowspan="2">신규 ⓕ</th>
            <th colspan="3">조정 아동수</th>
            <th rowspan="2">실대기<br />ⓔ+ⓕ+ⓖ</th>
          </tr>
          <tr>
            <th>선정</th>
            <th>포기,<br />탈락</th>
            <th>합계<br />ⓖ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>4월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>5월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>6월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>7월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>8월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>9월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
          <tr>
            <td>10월</td>
            <td>0</td>
            <td>3,685</td>
            <td>0</td>
            <td>0</td>
            <td>47</td>
            <td>3,638</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
      <div class="pagpan">
        <a href="javascript:void(0);"><span><img src="../img/left-double-arrow.svg" alt=""></span></a>
        <a href="javascript:void(0);"><span><img src="../img/left-arrow.svg" alt=""></span></a>
        <a href="javascript:void(0);"><span class="active">1</span></a>
        <a href="javascript:void(0);"><span>2</span></a>
        <a href="javascript:void(0);"><span>3</span></a>
        <a href="javascript:void(0);"><span>4</span></a>
        <a href="javascript:void(0);"><span>5</span></a>
        <a href="javascript:void(0);"><span>6</span></a>
        <a href="javascript:void(0);"><span>7</span></a>
        <a href="javascript:void(0);"><span>8</span></a>
        <a href="javascript:void(0);"><span>9</span></a>
        <a href="javascript:void(0);"><span>10</span></a>
        <a href="javascript:void(0);"><span><img src="../img/right-arrow.jpg" alt=""></span></a>
        <a href="javascript:void(0);"><span><img src="../img/right-double-arrow.svg" alt=""></span></a>
      </div>
    </div>
  </div>

  <div class="con-box">
    <h3>Ⅱ. 실이용 아동 수</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="3">월별</th>
            <th rowspan="3">전월 ⓐ</th>
            <th colspan="3">실이용 아동수</th>
            <th colspan="2">배정량 대비 이용률</th>
          </tr>
          <tr>
            <th colspan="2">신규 이용</th>
            <th rowspan="2">실 이용 <br> ⓗ+ⓘ+ⓙ</th>
            <th rowspan="2">배정량<br>(명)</th>
            <th rowspan="2">이용률<br>(%)</th>
          </tr>
          <tr>
            <th>신규 ⓘ</th>
            <th>긴급 돌봄 ⓙ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>0</td>
            <td>2,938</td>
            <td>0</td>
            <td>2,938</td>
            <td>8,005</td>
            <td>37</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>2,938</td>
            <td>134</td>
            <td>0</td>
            <td>3,072</td>
            <td>8,005</td>
            <td>38</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>3,072</td>
            <td>114</td>
            <td>0</td>
            <td>3,186</td>
            <td>8,005</td>
            <td>40</td>
          </tr>
          <tr>
            <td>계</td>
            <td class="no-data"></td>
            <td>3,186</td>
            <td>0</td>
            <td class="no-data"></td>
            <td class="no-data"></td>
            <td class="no-data"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3 class="sub-title">① 장애유형 별</h3>
    <div class="table-wrap color-table">
      <table>
        <thead>
          <tr>
            <th>월별</th>
            <th>자폐성</th>
            <th>지적</th>
            <th>뇌병변</th>
            <th>지체</th>
            <th>시각</th>
            <th>청각</th>
            <th>정신</th>
            <th>신장</th>
            <th>심장</th>
            <th>호흡기</th>
            <th>간</th>
            <th>안면</th>
            <th>장루</th>
            <th>간질</th>
            <th>언어</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
            <td>175</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>111</td>
            <td>2,938</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
            <td>175</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>111</td>
            <td>2,938</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
            <td>175</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>111</td>
            <td>2,938</td>
          </tr>
          <tr>
            <td>계</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
            <td>175</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>4</td>
            <td>111</td>
            <td>2,938</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3 class="sub-title">② 연령 별</h3>
    <div class="table-wrap color-table">
      <table>
        <thead>
          <tr>
            <th>월별</th>
            <th>만3세 미만</th>
            <th>만3세이상 ~ 만6세 미만</th>
            <th>만6세이상 ~ 만 12세 미만</th>
            <th>만12세이상 ~ 만 18세 미만</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
          </tr>
          <tr>
            <td>1월</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
          </tr>
          <tr>
            <td>계</td>
            <td>414</td>
            <td>1,216</td>
            <td>947</td>
            <td>34</td>
            <td>25</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tables-wrap">
    <div class="con-box con-box4">
      <h3>③ 가족형태</h3>
      <div class="table-wrap color-table">
        <table>
          <thead class="correction">
            <tr>
              <th>월별</th>
              <th>한부모</th>
              <th>조손</th>
              <th>맞벌이</th>
              <th>다자녀</th>
              <th>다문화</th>
              <th>일반</th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1월</td>
              <td>328</td>
              <td>20</td>
              <td>581</td>
              <td>375</td>
              <td>97</td>
              <td>1,537</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>2월</td>
              <td>328</td>
              <td>20</td>
              <td>581</td>
              <td>375</td>
              <td>97</td>
              <td>1,537</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>3월</td>
              <td>328</td>
              <td>20</td>
              <td>581</td>
              <td>375</td>
              <td>97</td>
              <td>1,537</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>계</td>
              <td>328</td>
              <td>20</td>
              <td>581</td>
              <td>375</td>
              <td>97</td>
              <td>1,537</td>
              <td>2,938</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="con-box con-box4">
      <h3>④ 양육자 장애여부</h3>
      <div class="table-wrap color-table">
        <table>
          <thead class="correction">
            <tr>
              <th>양육자<br />장애 有</th>
              <th>양육자<br />장애 無</th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>125</td>
              <td>2,813</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>125</td>
              <td>2,813</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>125</td>
              <td>2,813</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>125</td>
              <td>2,813</td>
              <td>2,938</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="tables-wrap">
    <div class="con-box con-box4">
      <h3>⑤ 가족 소득 별</h3>
      <div class="table-wrap color-table">
        <table>
          <thead>
            <tr>
              <th>월별</th>
              <th>기초생활수급</th>
              <th>
                차상위이상<br />
                (전국가구평균소득 120%이하)
              </th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1월</td>
              <td>313</td>
              <td>2,625</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>2월</td>
              <td>17</td>
              <td>117</td>
              <td>134</td>
            </tr>
            <tr>
              <td>3월</td>
              <td>8</td>
              <td>106</td>
              <td>114</td>
            </tr>
            <tr>
              <td>계</td>
              <td>338</td>
              <td>2,848</td>
              <td>3,186</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="con-box con-box4">
      <h3>⑥ 성별</h3>
      <div class="table-wrap color-table">
        <table>
          <thead class="correction">
            <tr>
              <th>남</th>
              <th>여</th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,831</td>
              <td>1,107</td>
              <td>2,938</td>
            </tr>
            <tr>
              <td>85</td>
              <td>49</td>
              <td>134</td>
            </tr>
            <tr>
              <td>67</td>
              <td>47</td>
              <td>114</td>
            </tr>
            <tr>
              <td>1,983</td>
              <td>1,203</td>
              <td>3,186</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="con-box">
    <h3 class="sub-title">Ⅲ. 서비스 연계 건수 및 연계 아동수</h3>
    <div class="table-wrap color-table">
      <table>
        <thead>
          <tr>
            <th>월별</th>
            <th>연계 건수</th>
            <th>연계 아동수</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>50,603</td>
            <td>2,938</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>44,488</td>
            <td>2,927</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>48,414</td>
            <td>2,895</td>
          </tr>
          <tr>
            <td>계</td>
            <td>143,505</td>
            <td class="no-data deg-20"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3 class="sub-title">① 이용 장소별(단일체크)</h3>
    <div class="table-wrap color-table">
      <table>
        <thead>
          <tr>
            <th>월별</th>
            <th>이용자 가정 내</th>
            <th>돌보미 가정 내</th>
            <th>교육기관, 치료시설 내</th>
            <th>이동, 외출장소</th>
            <th>기타</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>22,964</td>
            <td>2,543</td>
            <td>17,378</td>
            <td>7,290</td>
            <td>428</td>
            <td>50,603</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>21,231</td>
            <td>2,472</td>
            <td>15,249</td>
            <td>5,283</td>
            <td>253</td>
            <td>44,488</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>21,901</td>
            <td>2,340</td>
            <td>17,420</td>
            <td>6,488</td>
            <td>265</td>
            <td>48,414</td>
          </tr>
          <tr>
            <td>계</td>
            <td>66,096</td>
            <td>7,355</td>
            <td>50,047</td>
            <td>19,061</td>
            <td>946</td>
            <td>143,505</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3 class="sub-title">② 이용 시간별(단일체크)</h3>
    <div class="table-wrap color-table">
      <table>
        <thead>
          <tr>
            <th>월별</th>
            <th>3시간 미만</th>
            <th>3~4시간</th>
            <th>5~6시간</th>
            <th>7~8시간</th>
            <th>8시간 초과</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>8,496</td>
            <td>28,863</td>
            <td>1,225</td>
            <td>6,197</td>
            <td>822</td>
            <td>50,603</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>5,958</td>
            <td>21,443</td>
            <td>10,410</td>
            <td>5,910</td>
            <td>767</td>
            <td>44,488</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>10,729</td>
            <td>22,209</td>
            <td>9,614</td>
            <td>5,106</td>
            <td>756</td>
            <td>48,414</td>
          </tr>
          <tr>
            <td>계</td>
            <td>25,183</td>
            <td>67,515</td>
            <td>31,249</td>
            <td>17,213</td>
            <td>2,345</td>
            <td>143,505</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tables-wrap">
    <div class="con-box con-box4">
      <h3>③ 이용 시간대별(중복체크)</h3>
      <div class="table-wrap color-table">
        <table>
          <thead>
            <tr>
              <th>월별</th>
              <th>
                오전<br/>
                (06:00~12:00)
              </th>
              <th>
                오전<br/>
                (12:00~18:00)
              </th>
              <th>
                저녁<br/>
                (18:00~22:00)
              </th>
              <th>
                심야<br/>
                (22:00~06:00)
              </th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1월</td>
              <td>25,288</td>
              <td>37,448</td>
              <td>13,577</td>
              <td>245</td>
              <td>76,558</td>
            </tr>
            <tr>
              <td>2월</td>
              <td>22,953</td>
              <td>35,020</td>
              <td>12,861</td>
              <td>466</td>
              <td>71,300</td>
            </tr>
            <tr>
              <td>3월</td>
              <td>21,323</td>
              <td>36,313</td>
              <td>15,570</td>
              <td>387</td>
              <td>73,593</td>
            </tr>
            <tr>
              <td>계</td>
              <td>69,564</td>
              <td>108,781</td>
              <td>42,008</td>
              <td>1,098</td>
              <td>221,451</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="con-box con-box4">
      <h3>④ 이용 요일별(단일체크)</h3>
      <div class="table-wrap color-table">
        <table>
          <thead>
            <tr>
              <th>평일</th>
              <th>토요일</th>
              <th>
                일요일<br />
                공휴일
              </th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>44,155</td>
              <td>4,161</td>
              <td>2,287</td>
              <td>50,603</td>
            </tr>
            <tr>
              <td>44,155</td>
              <td>4,161</td>
              <td>2,287</td>
              <td>50,603</td>
            </tr>
            <tr>
              <td>44,155</td>
              <td>4,161</td>
              <td>2,287</td>
              <td>50,603</td>
            </tr>
            <tr>
              <td>44,155</td>
              <td>4,161</td>
              <td>2,287</td>
              <td>50,603</td>
            </tr>
            <tr>
              <td>44,155</td>
              <td>4,161</td>
              <td>2,287</td>
              <td>50,603</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="con-box">
    <h3 class="sub-title">⑤ 양육자의 이용 사유별</h3>
    <div class="table-wrap color-table">
      <table>
        <thead>
          <tr>
            <th>월별</th>
            <th>직장근무</th>
            <th>
              자기계발<br />
              (취업준비. 교육참여 등)
            </th>
            <th>병원치료</th>
            <th>
              여가활동<br />
              (휴식 포함)
            </th>
            <th>집안행사</th>
            <th>타 가족구성원 부양</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>15,532</td>
            <td>1,434</td>
            <td>6,248</td>
            <td>9,366</td>
            <td>2,431</td>
            <td>15,592</td>
            <td>50,603</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>15,532</td>
            <td>1,434</td>
            <td>6,248</td>
            <td>9,366</td>
            <td>2,431</td>
            <td>15,592</td>
            <td>50,603</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>15,532</td>
            <td>1,434</td>
            <td>6,248</td>
            <td>9,366</td>
            <td>2,431</td>
            <td>15,592</td>
            <td>50,603</td>
          </tr>
          <tr>
            <td>계</td>
            <td>15,532</td>
            <td>1,434</td>
            <td>6,248</td>
            <td>9,366</td>
            <td>2,431</td>
            <td>15,592</td>
            <td>50,603</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="tables-wrap">
    <div class="con-box con-box4">
      <h3>⑥ 서비스 형태별(단일체크)</h3>
      <div class="table-wrap color-table">
        <table>
          <thead>
            <tr>
              <th>월별</th>
              <th>돌봄전담</th>
              <th>돌봄보조</th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1월</td>
              <td>35,592</td>
              <td>15,011</td>
              <td>50,603</td>
            </tr>
            <tr>
              <td>2월</td>
              <td>35,592</td>
              <td>15,011</td>
              <td>50,603</td>
            </tr>
            <tr>
              <td>3월</td>
              <td>35,592</td>
              <td>15,011</td>
              <td>50,603</td>
            </tr>
            <tr>
              <td>합계</td>
              <td>35,592</td>
              <td>15,011</td>
              <td>50,603</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="con-box con-box4">
      <h3>⑦ 서비스 내용별(중복체크)</h3>
      <div class="table-wrap color-table">
        <table>
          <thead>
            <tr>
              <th>일상생활</th>
              <th>외출, 산책</th>
              <th>이동, 동반</th>
              <th>신변처리</th>
              <th>학습, 놀이</th>
              <th>합계</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>33,678</td>
              <td>7,537</td>
              <td>33,062</td>
              <td>11,976</td>
              <td>21,401</td>
              <td>107,654</td>
            </tr>
            <tr>
              <td>33,678</td>
              <td>7,537</td>
              <td>33,062</td>
              <td>11,976</td>
              <td>21,401</td>
              <td>107,654</td>
            </tr>
            <tr>
              <td>33,678</td>
              <td>7,537</td>
              <td>33,062</td>
              <td>11,976</td>
              <td>21,401</td>
              <td>107,654</td>
            </tr>
            <tr>
              <td>33,678</td>
              <td>7,537</td>
              <td>33,062</td>
              <td>11,976</td>
              <td>21,401</td>
              <td>107,654</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="tables-wrap">
    <div class="con-box con-box4">
      <h3>Ⅳ. 서비스 월시간(120) 초과 이용 아동수</h3>
      <div class="table-wrap color-table">
        <table>
          <thead class="correction2">
            <tr>
              <th>월별</th>
              <th>월 120시간 초과 이용 아동수</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1월</td>
              <td>40</td>
            </tr>
            <tr>
              <td>2월</td>
              <td>32</td>
            </tr>
            <tr>
              <td>3월</td>
              <td>16</td>
            </tr>
            <tr>
              <td>계</td>
              <td>88</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="con-box con-box4">
      <h3>Ⅴ. 서비스 연시간(840) 초과 이용 아동수</h3>
      <div class="table-wrap color-table multi-table">
        <table>
          <thead>
            <tr>
              <th colspan="2">연 840시간 이내(신규)</th>
              <th rowspan="2">연 840시간<br/>이용 완료(신규)</th>
              <th rowspan="2">연 840시간<br/>초과 이용(신규)</th>
            </tr>
            <tr>
              <th>기준 중위소득<br />120% 이하</th>
              <th>기준 중위소득<br />120% 초과</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2,936</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>2,936</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td>2,936</td>
              <td>2</td>
              <td>0</td>
              <td>0</td>
            </tr>
            <tr>
              <td class="no-data"></td>
              <td class="no-data"></td>
              <td>0</td>
              <td>0</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="title-box">
    <h2>장애아 돌보미 현황</h2>
  </div>

  <div class="con-box">
    <h3>Ⅰ. 돌보미 관리</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="3">월별</th>
            <th rowspan="3">전월 ⓚ</th>
            <th colspan="4">소속 돌보미수(신규)</th>
            <th colspan="4">소속 이탈 돌보미수</th>
            <th rowspan="3">실소속<br />ⓚ+ⓛ-ⓜ</th>
          </tr>
          <tr>
            <th rowspan="2">양성교육<br/>수료<br/>(실습 포함)</th>
            <th rowspan="2">양성교육<br />면제</th>
            <th rowspan="2">이탈 후<br />활동재개</th>
            <th rowspan="2">합계 ⓛ</th>
            <th colspan="2">활동중지</th>
            <th rowspan="2">자의<br />포기활동</th>
            <th rowspan="2">합계 ⓜ</th>
          </tr>
          <tr>
            <th>활동중지<br />(1년 이내)</th>
            <th>자격취소</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>3,206</td>
            <td>8</td>
            <td>28</td>
            <td>18</td>
            <td>54</td>
            <td>0</td>
            <td>0</td>
            <td>78</td>
            <td>78</td>
            <td>31,182</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>3,206</td>
            <td>8</td>
            <td>28</td>
            <td>18</td>
            <td>54</td>
            <td>0</td>
            <td>0</td>
            <td>78</td>
            <td>78</td>
            <td>31,182</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>3,206</td>
            <td>8</td>
            <td>28</td>
            <td>18</td>
            <td>54</td>
            <td>0</td>
            <td>0</td>
            <td>78</td>
            <td>78</td>
            <td>31,182</td>
          </tr>
          <tr>
            <td>계</td>
            <td class="no-data"></td>
            <td>8</td>
            <td>28</td>
            <td>18</td>
            <td>54</td>
            <td>0</td>
            <td>0</td>
            <td>78</td>
            <td>78</td>
            <td class="no-data"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>Ⅱ. 돌보미 활동</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th>월별</th>
            <th>서비스<br />연계<br />(신규)</th>
            <th>서비스<br />연계<br />(월간)</th>
            <th>활동시간</th>
            <th>시간당 단가<br />(원)</th>
            <th>교통비<br />(원)</th>
            <th>법정수당<br />(원)</th>
            <th>총 활동비<br />(원)</th>
            <th>1인당<br />월평균 수당<br />(원)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>2,135</td>
            <td>2,135</td>
            <td>212,930</td>
            <td>1,950,438,800</td>
            <td>15,218,000</td>
            <td>291,382,582</td>
            <td>2,257,039,382</td>
            <td>1,057,161</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>2,135</td>
            <td>2,135</td>
            <td>212,930</td>
            <td>1,950,438,800</td>
            <td>15,218,000</td>
            <td>291,382,582</td>
            <td>2,257,039,382</td>
            <td>1,057,161</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>2,135</td>
            <td>2,135</td>
            <td>212,930</td>
            <td>1,950,438,800</td>
            <td>15,218,000</td>
            <td>291,382,582</td>
            <td>2,257,039,382</td>
            <td>1,057,161</td>
          </tr>
          <tr>
            <td>계</td>
            <td>2,135</td>
            <td>2,135</td>
            <td>212,930</td>
            <td>1,950,438,800</td>
            <td>15,218,000</td>
            <td>291,382,582</td>
            <td>2,257,039,382</td>
            <td>1,057,161</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>Ⅲ. 활동 돌보미(신규) 인적사항</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="3">월별</th>
            <th colspan="10">활동 돌보미수(신규)</th>
          </tr>
          <tr>
            <th colspan="2">성별</th>
            <th rowspan="2">합계</th>
            <th colspan="6">연령</th>
            <th rowspan="2">합계</th>
          </tr>
          <tr>
            <th>남</th>
            <th>여</th>
            <th>만30세 미만</th>
            <th>만30세 이상<br />~만40세 미만</th>
            <th>만40세 이상<br />~만50세 미만</th>
            <th>만50세 이상<br />~만60세 미만</th>
            <th>만60세 이상<br />~만65세 미만</th>
            <th>만65세 이상<br />~70세 이하</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>67</td>
            <td>2,068</td>
            <td>2,135</td>
            <td>17</td>
            <td>156</td>
            <td>628</td>
            <td>830</td>
            <td>342</td>
            <td>162</td>
            <td>2,135</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>67</td>
            <td>2,068</td>
            <td>2,135</td>
            <td>17</td>
            <td>156</td>
            <td>628</td>
            <td>830</td>
            <td>342</td>
            <td>162</td>
            <td>2,135</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>67</td>
            <td>2,068</td>
            <td>2,135</td>
            <td>17</td>
            <td>156</td>
            <td>628</td>
            <td>830</td>
            <td>342</td>
            <td>162</td>
            <td>2,135</td>
          </tr>
          <tr>
            <td>계</td>
            <td>67</td>
            <td>2,068</td>
            <td>2,135</td>
            <td>17</td>
            <td>156</td>
            <td>628</td>
            <td>830</td>
            <td>342</td>
            <td>162</td>
            <td>2,135</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>Ⅳ. 돌보미 활동비</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="2">월별</th>
            <th colspan="6">활동 돌보미수(월간)</th>
            <th rowspan="2">합계</th>
          </tr>
          <tr>
            <th>50만원 이하</th>
            <th>50만원 초과~<br />100만원 이하</th>
            <th>100만원 초과~<br />150만원 이하</th>
            <th>150만원 초과~<br />200만원 이하</th>
            <th>200만원 초과~<br />250만원 이하</th>
            <th>250만원 초과</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>224</td>
            <td>1,034</td>
            <td>491</td>
            <td>281</td>
            <td>89</td>
            <td>16</td>
            <td>2,135</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>224</td>
            <td>1,034</td>
            <td>491</td>
            <td>281</td>
            <td>89</td>
            <td>16</td>
            <td>2,135</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>224</td>
            <td>1,034</td>
            <td>491</td>
            <td>281</td>
            <td>89</td>
            <td>16</td>
            <td>2,135</td>
          </tr>
          <tr>
            <td>계</td>
            <td>224</td>
            <td>1,034</td>
            <td>491</td>
            <td>281</td>
            <td>89</td>
            <td>16</td>
            <td>2,135</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>Ⅴ. 돌봄서비스 제공 아동수</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="2">월별</th>
            <th colspan="5">활동 돌보미수(월간)</th>
            <th rowspan="2">합계</th>
          </tr>
          <tr>
            <th>아동 1인</th>
            <th>아동 2인</th>
            <th>아동 3인</th>
            <th>아동 4인</th>
            <th>아동 5인 이상</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>1,461</td>
            <td>487</td>
            <td>152</td>
            <td>30</td>
            <td>5</td>
            <td>2,135</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>1,461</td>
            <td>487</td>
            <td>152</td>
            <td>30</td>
            <td>5</td>
            <td>2,135</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>1,461</td>
            <td>487</td>
            <td>152</td>
            <td>30</td>
            <td>5</td>
            <td>2,135</td>
          </tr>
          <tr>
            <td>계</td>
            <td>1,461</td>
            <td>487</td>
            <td>152</td>
            <td>30</td>
            <td>5</td>
            <td>2,135</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>Ⅵ. 양성교육</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="2">월별</th>
            <th colspan="2">진행방법 및 횟수</th>
            <th colspan="3">양성교육 수료인원(연인원)</th>
          </tr>
          <tr>
            <th>온라인</th>
            <th>오프라인</th>
            <th>40시간</th>
            <th>20시간</th>
            <th>합계</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>4</td>
            <td>1</td>
            <td>8</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>4</td>
            <td>1</td>
            <td>8</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>4</td>
            <td>1</td>
            <td>8</td>
            <td>0</td>
            <td>8</td>
          </tr>
          <tr>
            <td>계</td>
            <td>4</td>
            <td>1</td>
            <td>8</td>
            <td>0</td>
            <td>8</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>Ⅶ. 보수교육</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="2">월별</th>
            <th colspan="2">진행방법 및 횟수</th>
            <th colspan="3">보수교육 운영 현황(연인원)</th>
          </tr>
          <tr>
            <th>온라인</th>
            <th>오프라인</th>
            <th>교육시간</th>
            <th>참여인원</th>
            <th>비고</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>4</td>
            <td>1</td>
            <td>8</td>
            <td>0</td>
            <td class="no-data"></td>
          </tr>
          <tr>
            <td>2월</td>
            <td>4</td>
            <td>1</td>
            <td>8</td>
            <td>0</td>
            <td class="no-data"></td>
          </tr>
          <tr>
            <td>3월</td>
            <td>4</td>
            <td>1</td>
            <td>8</td>
            <td>0</td>
            <td class="no-data"></td>
          </tr>
          <tr>
            <td>계</td>
            <td>4</td>
            <td>1</td>
            <td>8</td>
            <td>0</td>
            <td class="no-data"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>실시 현황(유형별)</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="3">월별</th>
            <th colspan="18">휴식지원프로그램 실시 현황(유형별)</th>
          </tr>
          <tr>
            <th colspan="3">교육</th>
            <th colspan="3">문화</th>
            <th colspan="3">상담 및 치료</th>
            <th colspan="3">자조모임</th>
            <th colspan="3">정보제공</th>
            <th colspan="3">합계</th>
          </tr>
          <tr>
            <th>프로<br />그램<br />(신규)</th>
            <th>프로<br />그램<br />(월간)</th>
            <th>횟수<br />(월간)</th>
            <th>프로<br />그램<br />(신규)</th>
            <th>프로<br />그램<br />(월간)</th>
            <th>횟수<br />(월간)</th>
            <th>프로<br />그램<br />(신규)</th>
            <th>프로<br />그램<br />(월간)</th>
            <th>횟수<br />(월간)</th>
            <th>프로<br />그램<br />(신규)</th>
            <th>프로<br />그램<br />(월간)</th>
            <th>횟수<br />(월간)</th>
            <th>프로<br />그램<br />(신규)</th>
            <th>프로<br />그램<br />(월간)</th>
            <th>횟수<br />(월간)</th>
            <th>프로<br />그램<br />(신규)</th>
            <th>프로<br />그램<br />(월간)</th>
            <th>횟수<br />(월간)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>계</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>실이용 현황</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="2">월별</th>
            <th colspan="6">휴식지원프로그램 실이용 현황(참여인원 및 가정수)</th>
            <th colspan="2">배정량 대비 이용현황</th>
          </tr>
          <tr>
            <th>장애아동</th>
            <th>장애아동의 부모</th>
            <th>장애아동의 형제/자매</th>
            <th>장애아동의 그 외 가족원</th>
            <th>합계</th>
            <th>장애아동 가정수</th>
            <th>배정 가정수</th>
            <th>이용률(%)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1,376</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1,376</td>
            <td>0</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td>1,376</td>
            <td>0</td>
          </tr>
          <tr>
            <td>계</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
            <td class="no-data"></td>
            <td class="no-data"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="con-box">
    <h3>월이용 현황</h3>
    <div class="table-wrap color-table multi-table">
      <table>
        <thead>
          <tr>
            <th rowspan="2">월별</th>
            <th colspan="6">휴식지원프로그램 실이용 현황(참여인원 및 가정수)</th>
          </tr>
          <tr>
            <th>장애아동</th>
            <th>장애아동의 부모</th>
            <th>장애아동의 형제/자매</th>
            <th>장애아동의 그 외 가족원</th>
            <th>합계</th>
            <th>장애아동 가정수</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1월</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>2월</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>3월</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>계</td>
            <td>0</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  




</div>
</body>
</html>
